<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Proyección</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-container">
    <h1 class="page-title">Proyección</h1>

    <!-- Botones para alternar entre gráficos -->
    <div style="margin-top: 4rem;" class="toggle-buttons">
      <ion-button
        fill="solid"
        color="primary"
        [disabled]="activeEgresoChart === 'actualVsPlaneado'"
        (click)="toggleEgresoChart('actualVsPlaneado')">
        Actual vs Planeado
      </ion-button>
      <ion-button
        fill="solid"
        color="primary"
        [disabled]="activeEgresoChart === 'porSegmento'"
        (click)="toggleEgresoChart('porSegmento')">
        Por Segmentos
      </ion-button>
      <ion-button
        fill="solid"
        color="primary"
        [disabled]="activeEgresoChart === 'porSemana'"
        (click)="toggleEgresoChart('porSemana')">
        Por Semana
      </ion-button>
    </div>


    <div class="estado-select-container">
      <ion-select
        [(ngModel)]="estadoReconciliado"
        (ionChange)="onEstadoChange()"
        interface="popover"
        placeholder="Estado de conciliación"
        class="estado-select">
        <ion-select-option value="1">Reconciliados</ion-select-option>
        <ion-select-option value="0">No Reconciliados</ion-select-option>
        <ion-select-option value="-1">Todos</ion-select-option>
      </ion-select>
    </div>


    <div class="selectsProyecciones">
      <ion-grid style="display: flex; justify-content: space-around;">
        <!-- Primera fila: Segmentos y Categorías -->
        <ion-row class="aligned-column">
          <ion-col size="35" size-md="6" size-lg="15">
              <ion-select
              [(ngModel)]="selectedSegmentos"
              (ionChange)="onFilterChange()"
              (ionDismiss)="onDismissFilter('segmento')"
              multiple="false"
              placeholder="Segmentos"
              interface="popover">
              <ion-select-option *ngFor="let segmento of filtros.segmentos" [value]="segmento.SegmentoID">
                {{ segmento.Nombre }}
              </ion-select-option>
            </ion-select>
          </ion-col>


        </ion-row>

        <!-- Segunda fila: Subcategorías y Conceptos -->
        <ion-row class="aligned-row">


          <ion-col size="62" size-md="6" size-lg="15">
            <ion-select
              [(ngModel)]="selectedCategorias"
              (ionChange)="onFilterChange()"
              (ionDismiss)="onDismissFilter('categoria')"
              multiple="false"
              placeholder="Categorías"
              interface="popover">
              <ion-select-option *ngFor="let categoria of filtros.categorias" [value]="categoria.CategoriaID">
                {{ categoria.Nombre }}
              </ion-select-option>
            </ion-select>
          </ion-col>


        </ion-row>
      </ion-grid>
    </div>

    <div class="dateContent">
      <ion-grid>
        <ion-row style="display: flex; justify-content: space-evenly;">
    
          <!-- Botón para abrir el selector de fecha -->
          <ion-datetime-button datetime="InitialdatetimeEgresos"></ion-datetime-button>
    
          <!-- Modal con el ion-datetime -->
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                id="InitialdatetimeEgresos"
                presentation="date"
                [value]="selectedInitialDateEgresos" 
                (ionValueChange)="selectedInitialDateEgresos = $event.detail.value; onFilterChange()"
                [formatOptions]="{
                  date: { weekday: 'short', month: 'long', day: '2-digit' }
                }">
              </ion-datetime>
            </ng-template>
          </ion-modal>
    
          <!-- Botón para abrir el selector de fecha final -->
          <ion-datetime-button datetime="finalDateEgresos"></ion-datetime-button>
    
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                id="finalDateEgresos"
                presentation="date"
                [value]="selectedFinalDateEgresos" 
                (ionValueChange)="selectedFinalDateEgresos = $event.detail.value; onFilterChange()"
                [formatOptions]="{
                  date: { weekday: 'short', month: 'long', day: '2-digit' }
                }">
              </ion-datetime>
            </ng-template>
          </ion-modal>
    
        </ion-row>
      </ion-grid>
    </div>



    <!-- Gráficas de Egresos -->
    <div [class.hidden]="activeEgresoChart !== 'actualVsPlaneado'">
      <h2 class="chart-title">Egresos: Actual vs Planeado</h2>
      <div class="chart-container">
        <canvas id="barChartEgresos"></canvas>
      </div>
    </div>

    <div [class.hidden]="activeEgresoChart !== 'porSegmento'">
      <h2 class="chart-title">Egresos del mes por segmento</h2>
      <div class="chart-container">
        <canvas id="egresosMensualesChart"></canvas>
      </div>
    </div>

    <div [class.hidden]="activeEgresoChart !== 'porSemana'">
      <h2 class="chart-title">Egresos del mes por semana</h2>
      <div class="chart-container">
        <canvas id="egresosSemanalesChart"></canvas>
      </div>
    </div>
    <div [class.hidden]="activeEgresoChart !== 'barChartEgresosPorFiltros'">
      <h2 class="chart-title">Egresos por Filtros</h2>
      <div class="chart-container">
        <canvas id="barChartEgresosPorFiltros"></canvas>
      </div>
    </div>

    <div class="data-row">
      <div class="data-item">
        <div class="data-label">Actual</div>
        <div class="data-value">{{ egresoActual | currency }}</div> <!-- Aquí usamos la variable egresoActual -->
      </div>
      <div class="data-item">
        <div class="data-label">Forecast</div>
        <div class="data-value">${{ totalEgresos | number }}</div>
      </div>
      <div class="data-item">
        <div class="data-label">Absolute</div>
        <div class="data-value">{{ (egresoActual - 150000) | currency }}</div> <!-- Cálculo dinámico -->
      </div>
      <div class="data-item">
        <div class="data-label">Percentage</div>
        <div class="data-value">{{ percentageEgreso | number: '1.0-2' }}%</div> <!-- Cálculo dinámico -->
      </div>
    </div>


    <!-- Botones para alternar entre gráficos de Ingresos -->
    <div style="margin-top: 4rem;" class="toggle-buttons">
      <ion-button
        fill="solid"
        color="primary"
        [disabled]="activeIngresoChart === '
        actualVsPlaneado'"
        (click)="toggleIngresoChart('actualVsPlaneado')">
        Actual vs Planeado
      </ion-button>
      <ion-button
        fill="solid"
        color="primary"
        [disabled]="activeIngresoChart === 'porSegmento'"
        (click)="toggleIngresoChart('porSegmento')">
        Por Segmentos
      </ion-button>
      <ion-button
        fill="solid"
        color="primary"
        [disabled]="activeIngresoChart === 'porSemana'"
        (click)="toggleIngresoChart('porSemana')">
        Por Semana
      </ion-button>
    </div>
    

    <div class="estado-select-container">
      <ion-select
        [(ngModel)]="estadoReconciliadoIngresos"
        (ionChange)="onEstadoIngresosChange()"
        interface="popover"
        placeholder="Estado de conciliación (Ingresos)"
        class="estado-select">
        <ion-select-option value="1">Reconciliados</ion-select-option>
        <ion-select-option value="0">No Reconciliados</ion-select-option>
        <ion-select-option value="-1">Todos</ion-select-option>
      </ion-select>
    </div>


    <div class="selectsProyecciones">
      <ion-grid style="display: flex; justify-content: space-around;">
        <!-- Primera fila: Segmentos y Categorías -->
        <ion-row class="aligned-column">
          <ion-col size="35" size-md="6" size-lg="15">
              <ion-select
              [(ngModel)]="selectedSegmentosIngresos"
              (ionChange)="onFilterIngresosChange()"
              multiple="false"
              placeholder="Segmentos"
              interface="popover">
              <ion-select-option *ngFor="let segmento of filtros.segmentos" [value]="segmento.SegmentoID">
                {{ segmento.Nombre }}
              </ion-select-option>
            </ion-select>
          </ion-col>


        </ion-row>

        <!-- Segunda fila: Subcategorías y Conceptos -->
        <ion-row class="aligned-row">


          <ion-col size="35" size-md="6" size-lg="15">
            <ion-select
              [(ngModel)]="selectedCategoriasIngresos"
              (ionChange)="onFilterIngresosChange()"
              multiple="false"
              (ionDismiss)="onDismissFilter('categoria')"
              placeholder="Categorias"
              interface="popover">
              <ion-select-option *ngFor="let categoria of filtros.categorias" [value]="categoria.CategoriaID">
                {{ categoria.Nombre }}
              </ion-select-option>
            </ion-select>
          </ion-col>


        </ion-row>
      </ion-grid>
    </div>


    <div class="dateContent">
      <ion-grid>
        <ion-row style="display: flex; justify-content: space-evenly;">
    
          <ion-datetime-button datetime="Initialdatetime"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                id="Initialdatetime"
                presentation="date"
                [value]="selectedInitialDateIngresos"
                (ionValueChange)="selectedInitialDateIngresos = $event.detail.value; onFilterIngresosChange()"
                [formatOptions]="{
                  date: { weekday: 'short', month: 'long', day: '2-digit' }
                }">
              </ion-datetime>
            </ng-template>
          </ion-modal>
    
          <ion-datetime-button datetime="finalDate"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                id="finalDate"
                presentation="date"
                [value]="selectedFinalDateIngresos"
                (ionValueChange)="selectedFinalDateIngresos = $event.detail.value; onFilterIngresosChange()"
                [formatOptions]="{
                  date: { weekday: 'short', month: 'long', day: '2-digit' }
                }">
              </ion-datetime>
            </ng-template>
          </ion-modal>
    
        </ion-row>
      </ion-grid>
    </div>


        <!-- Gráficas de Ingresos -->
    <div [class.hidden]="activeIngresoChart !== 'actualVsPlaneado'">
      <h2 class="chart-title">Ingresos: Actual vs Planeado</h2>
      <div class="chart-container">
        <canvas id="barChartIngresos"></canvas>
      </div>
    </div>

    <div [class.hidden]="activeIngresoChart !== 'porSegmento'">
      <h2 class="chart-title">Ingresos del mes por segmento</h2>
      <div class="chart-container">
        <canvas id="ingresosMensualesChart"></canvas>
      </div>
    </div>

    <div [class.hidden]="activeIngresoChart !== 'porSemana'">
      <h2 class="chart-title">Ingresos del mes por semana</h2>
      <div class="chart-container">
        <canvas id="ingresosSemanalesChart"></canvas>
      </div>
    </div>

    <div [class.hidden]="activeIngresoChart !== 'barChartIngresosPorFiltros'">
      <h2 class="chart-title">Ingresos por Filtros</h2>
      <div class="chart-container">
        <canvas id="barChartIngresosPorFiltros"></canvas>
      </div>
    </div>

    <div class="data-row">
      <div class="data-item">
        <div class="data-label">Actual</div>
        <div class="data-value">{{ ingresoActual | currency }}</div> <!-- Aquí usamos la variable ingresoActual -->
      </div>
      <div class="data-item">
        <div class="data-label">Forecast</div>
        <div class="data-value">{{ ingresoPasado | currency }}</div>
      </div>
      <div class="data-item">
        <div class="data-label">Absolute</div>
        <div class="data-value">{{ (ingresoActual - ingresoPasado) | currency }}</div> <!-- Cálculo dinámico -->
      </div>
      <div class="data-item">
        <div class="data-label">Percentage</div>
        <div class="data-value">{{ ((ingresoActual - ingresoPasado) / ingresoPasado * 100) | number: '1.0-2' }}%</div>
      </div>
    </div>



    <!-- Botones para alternar entre gráficos de Utilidad Neta -->
    <div style="margin-top: 4rem;" class="toggle-buttons">
      <ion-button
        fill="solid"
        color="primary"
        [disabled]="activeUtilidadChart === 'actualVsPlaneado'"
        (click)="toggleUtilidadChart('actualVsPlaneado')">
        Actual vs Planeado
      </ion-button>
      <ion-button
        fill="solid"
        color="primary"
        [disabled]="activeUtilidadChart === 'ultimosMeses'"
        (click)="toggleUtilidadChart('ultimosMeses')">
        Últimos 20 meses
      </ion-button>
      <ion-button
        fill="solid"
        color="primary"
        [disabled]="activeUtilidadChart === 'porSemana'"
        (click)="toggleUtilidadChart('porSemana')">
        Por Semana
      </ion-button>
    </div>

    <!-- <div class="selectsProyecciones">
      <ion-grid style="display: flex;">
        <ion-row class="aligned-row">
          <ion-col size="12" size-md="6" size-lg="3">
            <ion-select
              [(ngModel)]="selectedUtilidadesSegmentos"
              (ionChange)="onFilterChangeUtilidad()"
              multiple="false"
              placeholder="Segmentos"
              interface="popover">
              <ion-select-option *ngFor="let segmento of filtros.segmentos" [value]="segmento.SegmentoID">
                {{ segmento.Nombre }}
              </ion-select-option>
            </ion-select>
          </ion-col>

          <ion-col size="12" size-md="6" size-lg="3">
            <ion-select
              [(ngModel)]="selectedUtilidadesCategorias"
              (ionChange)="onFilterChangeUtilidad()"
              multiple="false"
              placeholder="Categorías"
              interface="popover">
              <ion-select-option *ngFor="let categoria of filtros.categorias" [value]="categoria.CategoriaID">
                {{ categoria.Nombre }}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>


      </ion-grid>
    </div>


    <div class="dateContent">
      <ion-grid>
        <ion-row style="display: flex; justify-content: space-evenly;">

            <ion-datetime-button datetime="InitialdatetimeUtilidad" [(ngModel)]="selectedInitialDateUtilidades"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="InitialdatetimeUtilidad"
                  presentation="date"
                  value="2023-11-02T01:22:00"
                  [(ngModel)]="selectedInitialDateUtilidades"
                  (ionChange)="onFilterChangeUtilidad()"
                  [formatOptions]="{
                    date: { weekday: 'short', month: 'long', day: '2-digit' }
                  }">
                </ion-datetime>
              </ng-template>
            </ion-modal>

            <ion-datetime-button datetime="finalDateUtilidad" [(ngModel)]="selectedFinalDateUtilidades"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="finalDateUtilidad"
                  presentation="date"
                  value="2023-11-02T01:22:00"
                  [(ngModel)]="selectedFinalDateUtilidades"
                  (ionChange)="onFilterChangeUtilidad()"
                  [formatOptions]="{
                    date: { weekday: 'short', month: 'long', day: '2-digit' }
                  }">
                </ion-datetime>
              </ng-template>
            </ion-modal>
        </ion-row>
      </ion-grid>
    </div> -->

        <!-- Gráficas de Utilidad Neta -->
    <div [class.hidden]="activeUtilidadChart !== 'actualVsPlaneado'">
      <h2 class="chart-title">Utilidad Neta: Actual vs Planeado</h2>
      <div class="chart-container">
        <canvas id="barChartNetProfit"></canvas>
      </div>
    </div>

    <div [class.hidden]="activeUtilidadChart !== 'ultimosMeses'">
      <h2 class="chart-title">Utilidad Neta: Últimos 20 meses</h2>
      <div class="chart-container">
        <canvas id="utilidadesNetasChart"></canvas>
      </div>
    </div>

    <div [class.hidden]="activeUtilidadChart !== 'porSemana'">
      <h2 class="chart-title">Utilidad Neta Semanal: Mes actual</h2>
      <div class="chart-container">
        <canvas id="utilidadNetaSemanalesChart"></canvas>
      </div>
    </div>

    <div [class.hidden]="activeUtilidadChart !== 'barChartUtilidadPorFiltros'">
      <h2 class="chart-title">Utilidad por Filtros</h2>
      <div class="chart-container">
        <canvas id="barChartUtilidadPorFiltros"></canvas>
      </div>
    </div>

    <div class="data-row">
      <div class="data-item">
        <div class="data-label">Actual</div>
        <div class="data-value">{{ (ingresoActual - egresoActual) | currency }}</div> <!-- Utilidad neta actual -->
      </div>
      <div class="data-item">
        <div class="data-label">Forecast</div>
        <div class="data-value">{{ (ingresoPasado - totalEgresos) | currency }}</div>
      </div>
      <div class="data-item">
        <div class="data-label">Absolute</div>
        <div class="data-value">{{ ((ingresoActual - egresoActual) - (ingresoPasado - totalEgresos)) | currency }}</div> <!-- Cálculo dinámico -->
      </div>
      <div class="data-item">
        <div class="data-label">Percentage</div>
        <div class="data-value">{{ (((ingresoActual - egresoActual) - (ingresoPasado - totalEgresos)) / (ingresoPasado - totalEgresos) * 100) | number: '1.0-2' }}%</div> <!-- Cálculo dinámico -->
      </div>
    </div>
    

    <h2 style="margin-top: 2rem;" class="chart-title">Ingresos: Últimos 20 meses</h2>

    <div class="estado-select-container">
      <ion-select
        [(ngModel)]="filtroReconciliado"
        (ionChange)="loadIngresosMensuales()"
        interface="popover"
        placeholder="Filtrar por reconciliación"
        class="estado-select">
        <ion-select-option value="1">Reconciliados</ion-select-option>
        <ion-select-option value="0">No Reconciliados</ion-select-option>
        <ion-select-option value="todos">Ambos</ion-select-option>
      </ion-select>
    </div>
    
    <div class="chart-container">
      <canvas id="barChartRevenue"></canvas>
    </div>
    

    <h2 style="margin-top: 2rem;" class="chart-title">Egresos: Últimos 20 meses</h2>

    <div class="estado-select-container">
      <ion-select
        [(ngModel)]="filtroReconciliadoEgresos"
        (ionChange)="loadEgresosMensuales()"
        interface="popover"
        placeholder="Filtrar por reconciliación"
        class="estado-select">
        <ion-select-option value="1">Reconciliados</ion-select-option>
        <ion-select-option value="0">No Reconciliados</ion-select-option>
        <ion-select-option value="todos">Ambos</ion-select-option>
      </ion-select>
    </div>
    
    <div class="chart-container">
      <canvas id="barChartEgresosMensuales"></canvas>
    </div>
    

    <h2 style="margin-top: 2rem;" class="chart-title">Egreso por Categoría Unificada</h2>

    <div class="estado-select-container">
      <ion-select
        [(ngModel)]="filtroReconciliadoEgresosCategoria"
        (ionChange)="loadEgresosPorCategoria()"
        interface="popover"
        placeholder="Estado de conciliación"
        class="estado-select">
        <ion-select-option value="1">Reconciliados</ion-select-option>
        <ion-select-option value="0">No Reconciliados</ion-select-option>
        <ion-select-option value="-1">Todos</ion-select-option>
      </ion-select>
    </div>
    
    <div class="chart-container">
      <canvas id="barChartBreakdown"></canvas>
    </div>
    

    <h2 style="margin-top: 2rem;" class="chart-title">Ingreso por Categoría Unificada</h2>

    <div class="estado-select-container">
      <ion-select
        [(ngModel)]="filtroReconciliadoIngresosCat"
        (ionChange)="loadIngresosPorCategoria()"
        interface="popover"
        placeholder="Estado de conciliación"
        class="estado-select">
        <ion-select-option value="1">Reconciliados</ion-select-option>
        <ion-select-option value="0">No Reconciliados</ion-select-option>
        <ion-select-option value="-1">Todos</ion-select-option>
      </ion-select>
    </div>
    
    <div class="chart-container">
      <canvas id="barChartIngresosSemanales"></canvas>
    </div>
    

  </div>
</ion-content>
