<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Proyección</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-container">
    <h1 class="page-title">Proyección</h1>

    <!-- Botones para alternar entre gráficos -->
    <div style="margin-top: 4rem;" class="toggle-buttons">
      <ion-button
        fill="solid"
        color="primary"
        [disabled]="activeEgresoChart === 'actualVsPlaneado'"
        (click)="toggleEgresoChart('actualVsPlaneado')">
        Actual vs Planeado
      </ion-button>
      <ion-button
        fill="solid"
        color="primary"
        [disabled]="activeEgresoChart === 'porSegmento'"
        (click)="toggleEgresoChart('porSegmento')">
        Por Segmentos
      </ion-button>
      <ion-button
        fill="solid"
        color="primary"
        [disabled]="activeEgresoChart === 'porSemana'"
        (click)="toggleEgresoChart('porSemana')">
        Por Semana
      </ion-button>
    </div>

    <div class="selectsProyecciones">
      <ion-grid>
        <ion-row>
          <!-- Filtrar Egreso por segmentos -->
          <ion-col size="12" size-md="6" size-lg="3">
            <ion-select
              [(ngModel)]="selectedSegmentos"
              (ionChange)="onFilterChange()"
              multiple="false"
              placeholder="Filtrar Egreso por segmentos"
              interface="popover">
              <ion-select-option *ngFor="let segmento of filtros.segmentos" [value]="segmento.SegmentoID">
                {{ segmento.Nombre }}
              </ion-select-option>
            </ion-select>
          </ion-col>

          <!-- Filtrar Egreso por categorías -->
          <ion-col size="12" size-md="6" size-lg="3">
            <ion-select
              [(ngModel)]="selectedCategorias"
              (ionChange)="onFilterChange()"
              multiple="false"
              placeholder="Filtrar Egreso por categorias"
              interface="popover">
              <ion-select-option *ngFor="let categoria of filtros.categorias" [value]="categoria.CategoriaID">
                {{ categoria.Nombre }}
              </ion-select-option>
            </ion-select>
          </ion-col>

          <!-- Filtrar Egreso por subcategorías -->
          <ion-col size="12" size-md="6" size-lg="3">
            <ion-select
              [(ngModel)]="selectedSubcategorias"
              (ionChange)="onFilterChange()"
              multiple="false"
              placeholder="Filtrar Egreso por subcategoria"
              interface="popover">
              <ion-select-option *ngFor="let subcategoria of filtros.subcategorias" [value]="subcategoria.SubcategoriaID">
                {{ subcategoria.Nombre }}
              </ion-select-option>
            </ion-select>
          </ion-col>

          <!-- Filtrar Egreso por conceptos -->
          <ion-col size="12" size-md="6" size-lg="3">
            <ion-select
              [(ngModel)]="selectedConceptos"
              (ionChange)="onFilterChange()"
              multiple="false"
              placeholder="Filtrar Egreso por concepto"
              interface="popover">
              <ion-select-option *ngFor="let concepto of filtros.conceptos" [value]="concepto.ConceptoID">
                {{ concepto.Nombre }}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="dateContent">
      <ion-grid>
        <ion-row>
          <!-- Fecha de inicio -->
          <ion-col size="12" size-md="6">
            <ion-datetime-button
              datetime="InitialdatetimeEgresos"
              [(ngModel)]="selectedInitialDateEgresos">
            </ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="InitialdatetimeEgresos"
                  presentation="date"
                  [(ngModel)]="selectedInitialDateEgresos"
                  (ionChange)="onFilterChange()"
                  [formatOptions]="{
                    date: { weekday: 'short', month: 'long', day: '2-digit' }
                  }">
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>

          <!-- Fecha final -->
          <ion-col size="12" size-md="6">
            <ion-datetime-button
              datetime="finalDateEgresos"
              [(ngModel)]="selectedFinalDateEgresos">
            </ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="finalDateEgresos"
                  presentation="date"
                  [(ngModel)]="selectedFinalDateEgresos"
                  (ionChange)="onFilterChange()"
                  [formatOptions]="{
                    date: { weekday: 'short', month: 'long', day: '2-digit' }
                  }">
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>


    <!-- Gráficas de Egresos -->
    <div [class.hidden]="activeEgresoChart !== 'actualVsPlaneado'">
      <h2 class="chart-title">Egresos: Actual vs Planeado</h2>
      <div class="chart-container">
        <canvas id="barChartEgresos"></canvas>
      </div>
    </div>

    <div [class.hidden]="activeEgresoChart !== 'porSegmento'">
      <h2 class="chart-title">Egresos del mes por segmento</h2>
      <div class="chart-container">
        <canvas id="egresosMensualesChart"></canvas>
      </div>
    </div>

    <div [class.hidden]="activeEgresoChart !== 'porSemana'">
      <h2 class="chart-title">Egresos del mes por semana</h2>
      <div class="chart-container">
        <canvas id="egresosSemanalesChart"></canvas>
      </div>
    </div>
    <div [class.hidden]="activeEgresoChart !== 'barChartEgresosPorFiltros'">
      <h2 class="chart-title">Egresos por Filtros</h2>
      <div class="chart-container">
        <canvas id="barChartEgresosPorFiltros"></canvas>
      </div>
    </div>

    <div class="data-row">
      <div class="data-item">
        <div class="data-label">Actual</div>
        <div class="data-value">{{ egresoActual | currency }}</div> <!-- Aquí usamos la variable egresoActual -->
      </div>
      <div class="data-item">
        <div class="data-label">Forecast</div>
        <div class="data-value">${{ totalEgresos | number }}</div>
      </div>
      <div class="data-item">
        <div class="data-label">Absolute</div>
        <div class="data-value">{{ (egresoActual - 150000) | currency }}</div> <!-- Cálculo dinámico -->
      </div>
      <div class="data-item">
        <div class="data-label">Percentage</div>
        <div class="data-value">{{ percentageEgreso | number: '1.0-2' }}%</div> <!-- Cálculo dinámico -->
      </div>
    </div>


    <!-- Botones para alternar entre gráficos de Ingresos -->
    <div style="margin-top: 4rem;" class="toggle-buttons">
      <ion-button
        fill="solid"
        color="primary"
        [disabled]="activeIngresoChart === '
        actualVsPlaneado'"
        (click)="toggleIngresoChart('actualVsPlaneado')">
        Actual vs Planeado
      </ion-button>
      <ion-button
        fill="solid"
        color="primary"
        [disabled]="activeIngresoChart === 'porSegmento'"
        (click)="toggleIngresoChart('porSegmento')">
        Por Segmentos
      </ion-button>
      <ion-button
        fill="solid"
        color="primary"
        [disabled]="activeIngresoChart === 'porSemana'"
        (click)="toggleIngresoChart('porSemana')">
        Por Semana
      </ion-button>
    </div>

    <div class="selectsProyecciones">
      <ion-grid>
        <ion-row>
          <!-- Filtrar Egreso por segmentos -->
          <ion-col size="12" size-md="6" size-lg="3">
            <ion-select
              [(ngModel)]="selectedSegmentosIngresos"
              (ionChange)="onFilterIngresosChange()"
              multiple="false"
              placeholder="Filtrar Egreso por segmentos"
              interface="popover">
              <ion-select-option *ngFor="let segmento of filtros.segmentos" [value]="segmento.SegmentoID">
                {{ segmento.Nombre }}
              </ion-select-option>
            </ion-select>
          </ion-col>

          <!-- Filtrar Egreso por categorías -->
          <ion-col size="12" size-md="6" size-lg="3">
            <ion-select
              [(ngModel)]="selectedCategoriasIngresos"
              (ionChange)="onFilterIngresosChange()"
              multiple="false"
              placeholder="Filtrar Egreso por categorias"
              interface="popover">
              <ion-select-option *ngFor="let categoria of filtros.categorias" [value]="categoria.CategoriaID">
                {{ categoria.Nombre }}
              </ion-select-option>
            </ion-select>
          </ion-col>

          <!-- Filtrar Egreso por subcategorías -->
          <!-- <ion-col size="12" size-md="6" size-lg="3">
            <ion-select
              [(ngModel)]="selectedSubcategoriasIngresos"
              (ionChange)="onFilterIngresosChange()"
              multiple="false"
              placeholder="Filtrar Egreso por subcategoria"
              interface="popover">
              <ion-select-option *ngFor="let subcategoria of filtros.subcategorias" [value]="subcategoria.SubcategoriaID">
                {{ subcategoria.Nombre }}
              </ion-select-option>
            </ion-select>
          </ion-col>

          <ion-col size="12" size-md="6" size-lg="3">
            <ion-select
              [(ngModel)]="selectedConceptosIngresos"
              (ionChange)="onFilterIngresosChange()"
              multiple="false"
              placeholder="Filtrar Egreso por concepto"
              interface="popover">
              <ion-select-option *ngFor="let concepto of filtros.conceptos" [value]="concepto.ConceptoID">
                {{ concepto.Nombre }}
              </ion-select-option>
            </ion-select>
          </ion-col> -->
        </ion-row>
      </ion-grid>
    </div>

    <div class="dateContent">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-datetime-button datetime="Initialdatetime"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="Initialdatetime"
                  presentation="date"
                  value="2023-11-02T01:22:00"
                  (ionChange)="onFilterIngresosChange()"
                  [formatOptions]="{
                    date: { weekday: 'short', month: 'long', day: '2-digit' }
                  }">
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>

          <ion-col size="12" size-md="6">
            <ion-datetime-button datetime="finalDate"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="finalDate"
                  presentation="date"
                  value="2023-11-02T01:22:00"
                  (ionChange)="onFilterIngresosChange()"
                  [formatOptions]="{
                    date: { weekday: 'short', month: 'long', day: '2-digit' }
                  }">
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
        <!-- Gráficas de Ingresos -->
    <div [class.hidden]="activeIngresoChart !== 'actualVsPlaneado'">
      <h2 class="chart-title">Ingresos: Actual vs Planeado</h2>
      <div class="chart-container">
        <canvas id="barChartIngresos"></canvas>
      </div>
    </div>

    <div [class.hidden]="activeIngresoChart !== 'porSegmento'">
      <h2 class="chart-title">Ingresos del mes por segmento</h2>
      <div class="chart-container">
        <canvas id="ingresosMensualesChart"></canvas>
      </div>
    </div>

    <div [class.hidden]="activeIngresoChart !== 'porSemana'">
      <h2 class="chart-title">Ingresos del mes por semana</h2>
      <div class="chart-container">
        <canvas id="ingresosSemanalesChart"></canvas>
      </div>
    </div>

    <div [class.hidden]="activeIngresoChart !== 'barChartIngresosPorFiltros'">
      <h2 class="chart-title">Ingresos por Filtros</h2>
      <div class="chart-container">
        <canvas id="barChartIngresosPorFiltros"></canvas>
      </div>
    </div>

    <div class="data-row">
      <div class="data-item">
        <div class="data-label">Actual</div>
        <div class="data-value">{{ ingresoActual | currency }}</div> <!-- Aquí usamos la variable ingresoActual -->
      </div>
      <div class="data-item">
        <div class="data-label">Forecast</div>
        <div class="data-value">{{ ingresoPasado | currency }}</div>
      </div>
      <div class="data-item">
        <div class="data-label">Absolute</div>
        <div class="data-value">{{ (ingresoActual - ingresoPasado) | currency }}</div> <!-- Cálculo dinámico -->
      </div>
      <div class="data-item">
        <div class="data-label">Percentage</div>
        <div class="data-value">{{ ((ingresoActual - ingresoPasado) / ingresoPasado * 100) | number: '1.0-2' }}%</div>
      </div>
    </div>



    <!-- Botones para alternar entre gráficos de Utilidad Neta -->
    <div style="margin-top: 4rem;" class="toggle-buttons">
      <ion-button
        fill="solid"
        color="primary"
        [disabled]="activeUtilidadChart === 'actualVsPlaneado'"
        (click)="toggleUtilidadChart('actualVsPlaneado')">
        Actual vs Planeado
      </ion-button>
      <ion-button
        fill="solid"
        color="primary"
        [disabled]="activeUtilidadChart === 'ultimosMeses'"
        (click)="toggleUtilidadChart('ultimosMeses')">
        Últimos 20 meses
      </ion-button>
      <ion-button
        fill="solid"
        color="primary"
        [disabled]="activeUtilidadChart === 'porSemana'"
        (click)="toggleUtilidadChart('porSemana')">
        Por Semana
      </ion-button>
    </div>

    <div class="selectsProyecciones">
      <ion-grid>
        <ion-row>
          <!-- Filtrar Utilidad por segmentos -->
          <ion-col size="12" size-md="6" size-lg="3">
            <ion-select
              [(ngModel)]="selectedSegmentosUtilidad"
              (ionChange)="onFilterChangeUtilidad()"
              multiple="false"
              placeholder="Filtrar Utilidad por segmentos"
              interface="popover">
              <ion-select-option *ngFor="let segmento of filtros.segmentos" [value]="segmento.SegmentoID">
                {{ segmento.Nombre }}
              </ion-select-option>
            </ion-select>
          </ion-col>

          <!-- Filtrar Utilidad por categorías -->
          <ion-col size="12" size-md="6" size-lg="3">
            <ion-select
              [(ngModel)]="selectedCategoriasUtilidad"
              (ionChange)="onFilterChangeUtilidad()"
              multiple="false"
              placeholder="Filtrar Utilidad por categorias"
              interface="popover">
              <ion-select-option *ngFor="let categoria of filtros.categorias" [value]="categoria.CategoriaID">
                {{ categoria.Nombre }}
              </ion-select-option>
            </ion-select>
          </ion-col>

          <!-- Filtrar Utilidad por subcategorías -->
          <ion-col size="12" size-md="6" size-lg="3">
            <ion-select
              [(ngModel)]="selectedSubcategoriasUtilidad"
              (ionChange)="onFilterChangeUtilidad()"
              multiple="false"
              placeholder="Filtrar Utilidad por subcategoria"
              interface="popover">
              <ion-select-option *ngFor="let subcategoria of filtros.subcategorias" [value]="subcategoria.SubcategoriaID">
                {{ subcategoria.Nombre }}
              </ion-select-option>
            </ion-select>
          </ion-col>

          <!-- Filtrar Utilidad por conceptos -->
          <ion-col size="12" size-md="6" size-lg="3">
            <ion-select
              [(ngModel)]="selectedConceptosUtilidad"
              (ionChange)="onFilterChangeUtilidad()"
              multiple="false"
              placeholder="Filtrar Utilidad por concepto"
              interface="popover">
              <ion-select-option *ngFor="let concepto of filtros.conceptos" [value]="concepto.ConceptoID">
                {{ concepto.Nombre }}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="dateContent">
      <ion-grid>
        <ion-row>
          <!-- Fecha de inicio -->
          <ion-col size="12" size-md="6">
            <ion-datetime-button datetime="InitialdatetimeUtilidad"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="InitialdatetimeUtilidad"
                  presentation="date"
                  value="2023-11-02T01:22:00"
                  [formatOptions]="{
                    date: { weekday: 'short', month: 'long', day: '2-digit' }
                  }">
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>

          <!-- Fecha final -->
          <ion-col size="12" size-md="6">
            <ion-datetime-button datetime="finalDateUtilidad"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="finalDateUtilidad"
                  presentation="date"
                  value="2023-11-02T01:22:00"
                  [formatOptions]="{
                    date: { weekday: 'short', month: 'long', day: '2-digit' }
                  }">
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
        <!-- Gráficas de Utilidad Neta -->
    <div [class.hidden]="activeUtilidadChart !== 'actualVsPlaneado'">
      <h2 class="chart-title">Utilidad Neta: Actual vs Planeado</h2>
      <div class="chart-container">
        <canvas id="barChartNetProfit"></canvas>
      </div>
    </div>

    <div [class.hidden]="activeUtilidadChart !== 'ultimosMeses'">
      <h2 class="chart-title">Utilidad Neta: Últimos 20 meses</h2>
      <div class="chart-container">
        <canvas id="utilidadesNetasChart"></canvas>
      </div>
    </div>

    <div [class.hidden]="activeUtilidadChart !== 'porSemana'">
      <h2 class="chart-title">Utilidad Neta Semanal: Mes actual</h2>
      <div class="chart-container">
        <canvas id="utilidadNetaSemanalesChart"></canvas>
      </div>
    </div>

    <div class="data-row">
      <div class="data-item">
        <div class="data-label">Actual</div>
        <div class="data-value">{{ (ingresoActual - egresoActual) | currency }}</div> <!-- Utilidad neta actual -->
      </div>
      <div class="data-item">
        <div class="data-label">Forecast</div>
        <div class="data-value">{{ (ingresoPasado - totalEgresos) | currency }}</div>
      </div>
      <div class="data-item">
        <div class="data-label">Absolute</div>
        <div class="data-value">{{ ((ingresoActual - egresoActual) - (ingresoPasado - totalEgresos)) | currency }}</div> <!-- Cálculo dinámico -->
      </div>
      <div class="data-item">
        <div class="data-label">Percentage</div>
        <div class="data-value">{{ (((ingresoActual - egresoActual) - (ingresoPasado - totalEgresos)) / (ingresoPasado - totalEgresos) * 100) | number: '1.0-2' }}%</div> <!-- Cálculo dinámico -->
      </div>
    </div>

    <h2 style="margin-top: 2rem;" class="chart-title">Ingresos: Ultimos 20 meses</h2>
    <div class="chart-container">
      <canvas id="barChartRevenue"></canvas>
    </div>

    <h2 style="margin-top: 2rem;" class="chart-title">Egresos: Últimos 20 meses</h2>
    <div class="chart-container">
      <canvas id="barChartEgresosMensuales"></canvas>
    </div>

    <h2 style="margin-top: 2rem;" class="chart-title">Egreso por Categoria Unificada</h2>
    <div class="chart-container">
      <canvas id="barChartBreakdown"></canvas>
    </div>

    <h2 style="margin-top: 2rem;" class="chart-title">Ingreso por Categoria Unificada</h2>
    <div class="chart-container">
      <canvas id="barChartIngresosSemanales"></canvas>
    </div>

  </div>
</ion-content>
