:host {
  ion-content {
    --background: #f4f4f4;
    padding: 16px;

    form {
      display: flex;
      flex-direction: column;

      ion-item {
        margin-bottom: 0px;
      }

      ion-grid {
        padding: 0px;
      }

      ion-button {
        margin-top: 16px;
      }
    }
  }

  ion-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ion-label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  ion-input,
  ion-checkbox,
  ion-select {
    --background: #D4D4D4;
    --border-radius: 8px;
    --padding-start: 10px;
    margin-bottom: 10px;
  }

  ion-datetime {
    margin: 0 auto;
    display: block;
    --padding-end: 0;
  }

  ion-footer {
    display: flex;
    justify-content: center;
  }
}

.activo {
  color: green;
}
.inactivo {
  color: red;
}

// ion-item {
//   --min-height: 4.5rem !important; /* Forza una altura mínima más pequeña */
//   height: 4.5rem !important; /* Establece una altura más compacta */
//   padding: 2px 8px !important; /* Reduce el espacio interno */
// }

// ion-select {
//   --padding-start: 4px !important;
//   --padding-end: 4px !important;
//   font-size: 10px !important; /* Reduce el tamaño del texto */
//   height: 2rem !important; /* Establece la altura */
//   min-height: 2rem !important;
// }

// /* Modifica la altura interna del `ion-select` */
// ion-select::part(icon),
// ion-select::part(text) {
//   height: 2rem !important;
//   min-height: 2rem !important;
//   font-size: 10px !important;
//   line-height: 2rem !important;
// }

