<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ isEditMode ? 'Modificar Registro' : 'Añadir Registro' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal(false)">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size-md="12">
        <ion-item style="width: 34rem;">
          <ion-label position="stacked">Ingreso / Egreso</ion-label>
          <ion-select placeholder="Ingreso / Egreso" [(ngModel)]="ingreso.TipoIngreso" name="tipoIngreso" required interface="popover" searchbar="true" (ionChange)="onTipoIngresoChange()">
            <ion-select-option [value]="0">Ingreso</ion-select-option>
            <ion-select-option [value]="1">Egreso</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form (ngSubmit)="saveIncome()" class="ion-padding" *ngIf="ingreso.TipoIngreso === 0">
    <ion-grid>
      <ion-row>

        <ion-col size-md="6">

          <ion-item>
            <ion-label position="stacked">Segmento</ion-label>
            <ion-radio-group style="display: flex;" [(ngModel)]="isNewSegmento" name="isNewSegmento">
              <ion-item style="font-size: 12px;">
                <ion-label>Usar existente</ion-label>
                <ion-radio slot="start" [value]="false"></ion-radio>
              </ion-item>
              <ion-item style="font-size: 12px;">
                <ion-label>Crear nuevo</ion-label>
                <ion-radio slot="start" [value]="true"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div *ngIf="!isNewSegmento">
              <ion-select 
                  placeholder="Segmento" 
                  style="width: 13rem;" 
                  [(ngModel)]="ingreso.SegmentoID" 
                  name="segmento" 
                  required 
                  interface="popover" 
                  searchbar="true"
                  (ionChange)="onSegmentSelected($event)">
                <ion-select-option *ngFor="let item of getFilteredSegmentos()" [value]="item.SegmentoID">{{ item.Nombre }}</ion-select-option>
              </ion-select>
            </div>
            <div *ngIf="isNewSegmento">
              <ion-input style="width: 13rem;" [(ngModel)]="newSegmento" name="newSegmento" placeholder="Nuevo Segmento" required></ion-input>
            </div>
          </ion-item>

        </ion-col>

        <ion-col size-md="6">

          <ion-item>
            <ion-label position="stacked">Categoría</ion-label>
            <ion-radio-group style="display: flex;" [(ngModel)]="isNewCategoria" name="isNewCategoria">
              <ion-item style="font-size: 12px;">
                <ion-label>Usar existente</ion-label>
                <ion-radio slot="start" [value]="false"></ion-radio>
              </ion-item>
              <ion-item style="font-size: 12px;">
                <ion-label>Crear nuevo</ion-label>
                <ion-radio slot="start" [value]="true"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div *ngIf="!isNewCategoria">
              <ion-select
                placeholder="Categoría"
                style="width: 13rem;"
                [(ngModel)]="ingreso.CategoriaID"
                name="categoria"
                required
                interface="popover"
                searchbar="true"
                (ionChange)="onCategoriaChange($event)"
              >
              <ion-select-option *ngFor="let item of categoria" [value]="item.CategoriaID">
                {{ item.Nombre }}
              </ion-select-option>
            </ion-select>
            </div>
            <div *ngIf="isNewCategoria">
              <ion-input style="width: 13rem;" [(ngModel)]="newCategoria" name="newCategoria" placeholder="Nueva Categoría" required></ion-input>
            </div>
          </ion-item>

        </ion-col>

        <ion-col size-md="12">

          <ion-item>
            <ion-label position="stacked">Concepto</ion-label>
            <ion-radio-group style="display: flex; flex-direction: row;" [(ngModel)]="isNewConcepto" name="isNewConcepto">
              <ion-item style="font-size: 12px;">
                <ion-label>Usar existente</ion-label>
                <ion-radio slot="start" [value]="false" (ionSelect)="onConceptSelectorClick()"></ion-radio>
              </ion-item>
              <ion-item style="font-size: 12px;">
                <ion-label>Crear nuevo</ion-label>
                <ion-radio slot="start" [value]="true"></ion-radio>
              </ion-item>
            </ion-radio-group>
          
            <div *ngIf="!isNewConcepto">
              <!-- Muestra el nombre del concepto seleccionado y abre el modal al hacer clic -->
              <ion-item button (click)="onConceptSelectorClick()">
                <ion-label style="width: 30rem; color: var(--ion-text-color)">
                  {{ ingreso.NombreConcepto || 'Seleccione un concepto' }}
                </ion-label>
              </ion-item>
            </div>
          
            <div *ngIf="isNewConcepto">
              <ion-input 
                style="width: 32rem; --background: #D4D4D4; --border-radius: 8px; --padding-start: 10px;" 
                [(ngModel)]="newConcepto" 
                name="newConcepto" 
                placeholder="Nuevo Concepto" 
                required>
              </ion-input>
            </div>
          </ion-item>
          

          <ion-item>
            <ion-label position="stacked">Descripción</ion-label>
            <ion-input placeholder="Descripcion" [(ngModel)]="ingreso.Descripcion" name="descripcion" required></ion-input>
          </ion-item>

        </ion-col>

        <ion-col size-md="6">

          <ion-item>
            <ion-label position="stacked">Tipo de Cuenta</ion-label>
            <ion-select 
              style="width: 13rem;" 
              [(ngModel)]="ingreso.TipoCuentaID" 
              name="tipoCuentaID" 
              required 
              interface="popover" 
              searchbar="true" 
              placeholder="Tipo cuenta"
              (ionChange)="onTipoCuentaChange()">
              <ion-select-option [value]="1">Caja Chica</ion-select-option>
              <ion-select-option [value]="2">Cuenta Bancaria</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="!isNewCuenta && ingreso.TipoCuentaID === 1">
            <ion-label position="stacked">Caja Chica</ion-label>
            <ion-select placeholder="Caja Chica" style="width: 13rem;" [(ngModel)]="ingreso.CuentaID" name="cuenta" required interface="popover" searchbar="true">
              <ion-select-option *ngFor="let item of filteredCuentas" [value]="item.CuentaID" placeholder="Seleccione Caja Chica">{{ item.NombreCuenta }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="isNewCuenta && ingreso.TipoCuentaID === 1">
            <ion-label position="stacked">Nueva Caja Chica</ion-label>
            <ion-input style="width: 13rem;" [(ngModel)]="newNombreCuenta" name="newNombreCuenta" placeholder="Nuevo Caja Chica" required></ion-input>
          </ion-item>

          <ion-item *ngIf="!isNewCuenta && ingreso.TipoCuentaID === 2">
            <ion-label position="stacked">Cuenta Bancaria</ion-label>
            <ion-select placeholder="Cuenta Bancaria" style="width: 13rem;" [(ngModel)]="ingreso.CuentaID" name="cuenta" required interface="popover" searchbar="true" (ionChange)="onCuentaChange($event)">
              <ion-label position="stacked">Cuenta Cuenta Bancaria</ion-label>
              <ion-select-option style="width: 13rem;" *ngFor="let item of filteredCuentas" [value]="item.CuentaID" placeholder="Seleccione Cuenta Bancaria">{{ item.NombreCuenta }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="isNewCuenta && ingreso.TipoCuentaID === 2">
            <ion-label position="stacked">Nueva Cuenta Bancaria</ion-label>
            <ion-input style="width: 13rem;" [(ngModel)]="newNombreCuenta" name="newNombreCuenta" placeholder="Nueva Cuenta Bancaria" required></ion-input>
          </ion-item>

        </ion-col>

        <ion-col size-md="6">

          <ion-item style="height: 5rem;" *ngIf="ingreso.TipoCuentaID">
            <ion-label position="stacked">Cuenta</ion-label>
            <ion-radio-group style="display: flex;" [(ngModel)]="isNewCuenta" name="isNewCuenta">
              <ion-item style="font-size: 12px;" *ngIf="ingreso.TipoCuentaID === 2 || ingreso.TipoCuentaID === 1">
                <ion-label>Usar existente</ion-label>
                <ion-radio slot="start" [value]="false" (ionSelect)="onCuentaSelection(false)"></ion-radio>
              </ion-item>
              <ion-item style="font-size: 12px;" *ngIf="ingreso.TipoCuentaID === 1 || ingreso.TipoCuentaID === 2">
                <ion-label>Crear nuevo</ion-label>
                <ion-radio slot="start" [value]="true" (ionSelect)="onCuentaSelection(true)"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-item>
          
          <ion-item *ngIf="!isNewCuenta && ingreso.TipoCuentaID === 2">
            <ion-label position="stacked">RFC</ion-label>
            <ion-input placeholder="RFC" style="width: 13rem;" [(ngModel)]="ingreso.RFC" name="rfc" [readonly]="true"></ion-input>
          </ion-item>

          <ion-item *ngIf="isNewCuenta && ingreso.TipoCuentaID === 2">
            <ion-label position="stacked">RFC</ion-label>
            <ion-input style="width: 13rem;" [(ngModel)]="newRFC" name="newRFC" placeholder="Nuevo RFC" required></ion-input>
          </ion-item>

        </ion-col>

        <ion-col size-md="12">

          <ion-item>
            <ion-label position="stacked">Monto</ion-label>
            <ion-input placeholder="Monto" style="width: 32rem;" [(ngModel)]="ingreso.Monto" name="monto" type="number" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Recibido por</ion-label>
            <ion-select placeholder="Usuario Recibe" style="width: 32rem;" [(ngModel)]="ingreso.UsuarioRecibeID" name="usuarioRecibeId" required interface="popover" searchbar="true">
              <ion-select-option *ngFor="let item of usuario" [value]="item.userId">{{ item.fullName }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Fecha</ion-label>
            <input style="margin-bottom: 2rem;" type="date" [(ngModel)]="ingreso.Fecha" name="fecha" required>
          </ion-item>

        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-footer>
      <ion-button [disabled]="ingreso.SegmentoID == 0 || ingreso.CategoriaID == 0 || ingreso.ConceptoID == 0 || ingreso.ConceptoID == null || ingreso.Descripcion == '' || (ingreso.CuentaID == 0 && newNombreCuenta == '') || ingreso.Monto <= 0 || ingreso.UsuarioRecibeID == 0 || ingreso.UsuarioRecibeID == null || ingreso.Fecha == '' " style="margin-bottom: 1rem;" expand="full" type="submit">{{ isEditMode ? 'Modificar' : 'Añadir' }}</ion-button>
    </ion-footer>
  </form>





  <form (ngSubmit)="saveIncome()" class="ion-padding" *ngIf="ingreso.TipoIngreso === 1">
    <ion-grid>
      <ion-row>

        <ion-col size-md="6">

          <ion-item>
            <ion-label position="stacked">Segmento</ion-label>
            <ion-radio-group style="display: flex;" [(ngModel)]="isNewSegmento" name="isNewSegmento">
              <ion-item style="font-size: 12px;">
                <ion-label>Usar existente</ion-label>
                <ion-radio slot="start" [value]="false"></ion-radio>
              </ion-item>
              <ion-item style="font-size: 12px;">
                <ion-label>Crear nuevo</ion-label>
                <ion-radio slot="start" [value]="true"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div *ngIf="!isNewSegmento">
              <ion-select 
                  placeholder="Segmento" 
                  style="width: 13rem;" 
                  [(ngModel)]="ingreso.SegmentoID" 
                  name="segmento" 
                  required 
                  interface="popover" 
                  searchbar="true"
                  (ionChange)="onSegmentSelected($event)">
                <ion-select-option *ngFor="let item of getFilteredSegmentos()" [value]="item.SegmentoID">{{ item.Nombre }}</ion-select-option>
              </ion-select>
            </div>
            <div *ngIf="isNewSegmento">
              <ion-input style="width: 13rem;" [(ngModel)]="newSegmento" name="newSegmento" placeholder="Nuevo Segmento" required></ion-input>
            </div>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Subcategoría</ion-label>
            <ion-radio-group style="display: flex;" [(ngModel)]="isNewSubcategoria" name="isNewSubcategoria">
              <ion-item style="font-size: 12px;">
                <ion-label>Usar existente</ion-label>
                <ion-radio slot="start" [value]="false"></ion-radio>
              </ion-item>
              <ion-item style="font-size: 12px;">
                <ion-label>Crear nuevo</ion-label>
                <ion-radio slot="start" [value]="true"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div *ngIf="!isNewSubcategoria">
              <ion-select (ionChange)="onSubcategoriaChange($event)" placeholder="Subcategoria" style="width: 13rem;" [(ngModel)]="ingreso.SubcategoriaID" name="subcategoria" interface="popover" searchbar="true">
                <ion-select-option *ngFor="let item of subcategoria" [value]="item.SubcategoriaID">{{ item.Nombre }}</ion-select-option>
              </ion-select>
            </div>
            <div *ngIf="isNewSubcategoria">
              <ion-input style="width: 13rem;" [(ngModel)]="newSubcategoria" name="newSubcategoria" placeholder="Nueva Subcategoría"></ion-input>
            </div>
          </ion-item>

        </ion-col>

        <ion-col size-md="6">

          <ion-item>
            <ion-label position="stacked">Categoría</ion-label>
            <ion-radio-group style="display: flex;" [(ngModel)]="isNewCategoria" name="isNewCategoria">
              <ion-item style="font-size: 12px;">
                <ion-label>Usar existente</ion-label>
                <ion-radio slot="start" [value]="false"></ion-radio>
              </ion-item>
              <ion-item style="font-size: 12px;">
                <ion-label>Crear nuevo</ion-label>
                <ion-radio slot="start" [value]="true"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div *ngIf="!isNewCategoria">
              <ion-select
                placeholder="Categoría"
                style="width: 13rem;"
                [(ngModel)]="ingreso.CategoriaID"
                name="categoria"
                required
                interface="popover"
                searchbar="true"
                (ionChange)="onCategoriaChange($event)"
              >
              <ion-select-option *ngFor="let item of categoria" [value]="item.CategoriaID">
                {{ item.Nombre }}
              </ion-select-option>
            </ion-select>
            </div>
            <div *ngIf="isNewCategoria">
              <ion-input style="width: 13rem;" [(ngModel)]="newCategoria" name="newCategoria" placeholder="Nueva Categoría" required></ion-input>
            </div>
          </ion-item>

          <ion-item style="height: 8.8rem;">
            <ion-label position="stacked">Concepto</ion-label>
            <ion-radio-group style="display: flex; flex-direction: row;" [(ngModel)]="isNewConcepto" name="isNewConcepto">
              <ion-item style="font-size: 12px;">
                <ion-label>Usar existente</ion-label>
                <ion-radio slot="start" [value]="false" (ionSelect)="onConceptSelectorClick()"></ion-radio>
              </ion-item>
              <ion-item style="font-size: 12px;">
                <ion-label>Crear nuevo</ion-label>
                <ion-radio slot="start" [value]="true"></ion-radio>
              </ion-item>
            </ion-radio-group>
          
            <div *ngIf="!isNewConcepto">
              <!-- Muestra el nombre del concepto seleccionado y abre el modal al hacer clic -->
              <ion-item button (click)="onConceptSelectorClick()">
                <ion-label style="width: 13rem; color: var(--ion-text-color); font-size: 12px;">
                  {{ ingreso.NombreConcepto || 'Seleccione un concepto' }}
                </ion-label>
              </ion-item>
            </div>
          
            <div *ngIf="isNewConcepto">
              <ion-input 
                style="width: 13rem; --background: #D4D4D4; --border-radius: 8px; --padding-start: 10px;" 
                [(ngModel)]="newConcepto" 
                name="newConcepto" 
                placeholder="Nuevo Concepto" 
                required>
              </ion-input>
            </div>
          </ion-item>

        </ion-col>

        <ion-col size-md="12">

          <ion-item>
            <ion-label position="stacked">Descripción</ion-label>
            <ion-input placeholder="Descripcion" [(ngModel)]="ingreso.Descripcion" name="descripcion" required></ion-input>
          </ion-item>

        </ion-col>

        <ion-col size-md="6">

          <ion-item>
            <ion-label position="stacked">Proveedor</ion-label>
            <ion-radio-group style="display: flex;" [(ngModel)]="isNewProveedor" name="isNewProveedor">
              <ion-item style="font-size: 12px;">
                <ion-label>Catalogo</ion-label>
                <ion-radio slot="start" [value]="false"></ion-radio>
              </ion-item>
              <ion-item style="font-size: 12px;">
                <ion-label>Manual</ion-label>
                <ion-radio slot="start" [value]="true"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div *ngIf="!isNewProveedor">
              <ion-select placeholder="Proveedor"  style="width: 13rem;" [(ngModel)]="ingreso.ProveedorID" name="proveedorID" required interface="popover" searchbar="true">
                <ion-select-option *ngFor="let item of proveedor" [value]="item.ProveedorID">{{ item.Proveedor }} - {{ item.NombreSubcategoria }} - {{
                  item.Rentabilidad === 'Mejor'
                    ? (item.Estatus.data[0] === 1 ? 'Activo - Mejor' : 'Inactivo - Mejor')
                    : (item.Estatus.data[0] === 1 ? 'Activo' : 'Inactivo')
                }}</ion-select-option>
              </ion-select>
            </div>
            <div *ngIf="isNewProveedor">
              <ion-input placeholder="Proveedor"  style="width: 13rem;" [(ngModel)]="newProveedor" name="newProveedor" required></ion-input>
            </div>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Tipo de Cuenta</ion-label>
            <ion-select 
              style="width: 13rem;" 
              [(ngModel)]="ingreso.TipoCuentaID" 
              name="tipoCuentaID" 
              required 
              interface="popover" 
              searchbar="true" 
              placeholder="Tipo cuenta"
              (ionChange)="onTipoCuentaChange()">
              <ion-select-option [value]="1">Caja Chica</ion-select-option>
              <ion-select-option [value]="2">Cuenta Bancaria</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="!isNewCuenta && ingreso.TipoCuentaID === 1">
            <ion-label position="stacked">Caja Chica</ion-label>
            <ion-select placeholder="Caja Chica" style="width: 13rem;" [(ngModel)]="ingreso.CuentaID" name="cuenta" required interface="popover" searchbar="true">
              <ion-select-option *ngFor="let item of filteredCuentas" [value]="item.CuentaID" placeholder="Seleccione Caja Chica">{{ item.NombreCuenta }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="isNewCuenta && ingreso.TipoCuentaID === 1">
            <ion-label position="stacked">Nueva Caja Chica</ion-label>
            <ion-input style="width: 13rem;" [(ngModel)]="newNombreCuenta" name="newNombreCuenta" placeholder="Nuevo Caja Chica" required></ion-input>
          </ion-item>

          <ion-item *ngIf="!isNewCuenta && ingreso.TipoCuentaID === 2">
            <ion-label position="stacked">Cuenta Bancaria</ion-label>
            <ion-select placeholder="Cuenta Bancaria" style="width: 13rem;" [(ngModel)]="ingreso.CuentaID" name="cuenta" required interface="popover" searchbar="true" (ionChange)="onCuentaChange($event)">
              <ion-label position="stacked">Cuenta Cuenta Bancaria</ion-label>
              <ion-select-option style="width: 13rem;" *ngFor="let item of filteredCuentas" [value]="item.CuentaID" placeholder="Seleccione Cuenta Bancaria">{{ item.NombreCuenta }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="isNewCuenta && ingreso.TipoCuentaID === 2">
            <ion-label position="stacked">Nueva Cuenta Bancaria</ion-label>
            <ion-input style="width: 13rem;" [(ngModel)]="newNombreCuenta" name="newNombreCuenta" placeholder="Nueva Cuenta Bancaria" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Comprobante</ion-label>
            <input style="margin-bottom: 2rem;" type="file" (change)="onFileSelected($event)" accept="application/pdf, image/*" />
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Fecha</ion-label>
            <input style="margin-bottom: 2rem;" type="date" [(ngModel)]="ingreso.Fecha" name="fecha" required>
          </ion-item>

        </ion-col>

        <ion-col size-md="6">

          <ion-item>
            <ion-label position="stacked">Piezas</ion-label>
            <ion-input placeholder="Piezas" style="width: 13rem; margin-bottom: 4.5rem;" [(ngModel)]="ingreso.Piezas" name="piezas" type="number"></ion-input>
          </ion-item>

          <ion-item style="height: 5rem;" *ngIf="ingreso.TipoCuentaID">
            <ion-label position="stacked">Cuenta</ion-label>
            <ion-radio-group style="display: flex;" [(ngModel)]="isNewCuenta" name="isNewCuenta">
              <ion-item style="font-size: 12px;" *ngIf="ingreso.TipoCuentaID === 2 || ingreso.TipoCuentaID === 1">
                <ion-label>Usar existente</ion-label>
                <ion-radio slot="start" [value]="false" (ionSelect)="onCuentaSelection(false)"></ion-radio>
              </ion-item>
              <ion-item style="font-size: 12px;" *ngIf="ingreso.TipoCuentaID === 1 || ingreso.TipoCuentaID === 2">
                <ion-label>Crear nuevo</ion-label>
                <ion-radio slot="start" [value]="true" (ionSelect)="onCuentaSelection(true)"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-item>
          
          <ion-item *ngIf="!isNewCuenta && ingreso.TipoCuentaID === 2">
            <ion-label position="stacked">RFC</ion-label>
            <ion-input placeholder="RFC" style="width: 13rem;" [(ngModel)]="ingreso.RFC" name="rfc" [readonly]="true"></ion-input>
          </ion-item>

          <ion-item *ngIf="isNewCuenta && ingreso.TipoCuentaID === 2">
            <ion-label position="stacked">RFC</ion-label>
            <ion-input style="width: 13rem;" [(ngModel)]="newRFC" name="newRFC" placeholder="Nuevo RFC" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Monto</ion-label>
            <ion-input placeholder="Monto" style="width: 13rem;" [(ngModel)]="ingreso.Monto" name="monto" type="number" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Recibido por</ion-label>
            <ion-select placeholder="Usuario Recibe" style="width: 13rem;" [(ngModel)]="ingreso.UsuarioRecibeID" name="usuarioRecibeId" required interface="popover" searchbar="true">
              <ion-select-option *ngFor="let item of usuario" [value]="item.userId">{{ item.fullName }}</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-footer>
      <ion-button [disabled]="(ingreso.SegmentoID == 0 && newSegmento == '') || (ingreso.CategoriaID == 0 && newCategoria == '') || (ingreso.SubcategoriaID == 0 && newSubcategoria == '') || ingreso.SubcategoriaID == null || (ingreso.ConceptoID == 0 && newConcepto == '') || ingreso.ConceptoID == null || ingreso.Descripcion == '' || (ingreso.CuentaID == 0 && newNombreCuenta == '') || ingreso.Monto <= 0 || ingreso.UsuarioRecibeID == 0 || ingreso.UsuarioRecibeID == null || (isNewProveedor ? newProveedor == '' : (ingreso.ProveedorID <= 0 || ingreso.ProveedorID == null || ingreso.ProveedorID == undefined)) || ingreso.Piezas <= 0  || ingreso.Fecha == ''" style="margin-bottom: 1rem;" style="margin-bottom: 1rem;" expand="full" type="submit">{{ isEditMode ? 'Modificar' : 'Añadir' }}</ion-button>
    </ion-footer>
  </form>



</ion-content>