<ion-header>
    <ion-toolbar>
      <ion-title>Cambiar Contraseña</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="close()">Cerrar</ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
  
  <ion-content>
    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>
  
    <p class="error" *ngIf="error">{{ error }}</p>
  
    <ion-button expand="block" 
      (click)="savePassword()" 
      [disabled]="!newPassword || !confirmPassword || newPassword !== confirmPassword">
      Guardar
    </ion-button>

  </ion-content>
  