<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ingresos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-searchbar [(ngModel)]="searchTerm" placeholder="Buscar ingreso"></ion-searchbar> -->

  <ion-button expand="block" (click)="openModal()" style="margin: 16px;">
    <ion-icon name="add-circle-outline" slot="start"></ion-icon>
    Crear
  </ion-button>

  <input
  type="file"
  accept=".xlsx, .xls"
  (change)="onFileChangeEgresos($event)"
  style="display: none"
  id="fileInputEgresosNuevo"
  />
  <ion-button style="margin-left: 2rem;" color="success" (click)="triggerFileInputEgresosNuevo()">
    Importar Egresos
  </ion-button>


  <!-- Botón para importar ingresos -->
  <input
    type="file"
    accept=".xlsx, .xls"
    (change)="onFileChangeIngresos($event)"
    style="display: none"
    id="fileInputIngresos"
  />
  <ion-button style="margin-left: 2rem;" color="primary" (click)="triggerFileInputIngresos()">
    Importar Ingresos
  </ion-button>

  <!-- Botón y input para egresos del sistema viejo -->
  <!-- <input
    type="file"
    accept=".xlsx, .xls, .csv"
    (change)="onFileChangeEgresosViejo($event)"
    style="display: none"
    id="fileInputEgresosViejo"
  />
  <ion-button style="margin-left: 2rem;" color="tertiary" (click)="triggerFileInputEgresosViejo()">
    Importar Egresos Sistema Viejo
  </ion-button> -->

  <!-- <input
    type="file"
    accept=".xlsx, .xls, .csv"
    (change)="onFileChangeIngresosViejo($event)"
    style="display: none"
    id="fileInputIngresosViejo"
  />
  <ion-button style="margin-left: 2rem;" color="warning" (click)="triggerFileInputIngresosViejo()">
    Importar Ingresos Sistema Viejo
  </ion-button> -->


  <div class="search-container">
    <ion-item>
      <ion-label>Buscar por:</ion-label>
      <ion-select [(ngModel)]="selectedFields" multiple="true" placeholder="Seleccionar campo">
        <ion-select-option *ngFor="let field of searchFields" [value]="field.value">{{ field.label }}</ion-select-option>
      </ion-select>
    </ion-item>

    <div *ngFor="let field of selectedFields">
      <ion-item *ngIf="!isDateField(field)">
        <ion-label style="margin-right: 1rem;">{{ getFieldLabel(field) }}:</ion-label>
        <ion-input [(ngModel)]="searchValues[field]"></ion-input>
      </ion-item>
    
      <div *ngIf="isDateField(field)">
        <ion-item>
          <ion-label>{{ getFieldLabel(field) }} Desde:</ion-label>
          <input type="date" [value]="getStartDate(field)" (change)="onStartDateChange($event, field)">
        </ion-item>
        <ion-item>
          <ion-label>{{ getFieldLabel(field) }} Hasta:</ion-label>
          <input type="date" [value]="getEndDate(field)" (change)="onEndDateChange($event, field)">
        </ion-item>
      </div>
      
    </div>

    <ion-button (click)="applySearch()">Buscar</ion-button>
    <ion-button color="light" (click)="resetSearch()">Reset</ion-button>
  </div>

  <!-- 🔹 MÓVIL: Cards -->
  <div class="income-list" *ngIf="isMobileDevice">
    <div class="income-card" 
        *ngFor="let income of paginatedIncomes"
        [ngClass]="{'ingreso-card': income.TipoIngreso.data[0] === 0, 
                    'egreso-card': income.TipoIngreso.data[0] !== 0}">
      <ion-item (click)="openModal(income)">
        <ion-avatar slot="start">
          <ion-icon name="cash" size="large" color="primary"></ion-icon>
        </ion-avatar>
        <ion-label>
          <div class="income-details">
            <div class="income-column">
              <h2>ID: {{ income.IngresoID }}</h2>
              <p>Tipo: {{ income.TipoIngreso.data[0] === 0 ? 'Ingreso' : 'Egreso' }}</p>
              <p>Segmento: {{ income.NombreSegmento }}</p>
              <p>Categoría: {{ income.NombreCategoria }}</p>
              <p>Subcategoría: {{ income.NombreSubcategoria }}</p>
              <p>Concepto: {{ income.NombreConcepto }}</p>
              <p>Descripción: {{ income.Descripcion }}</p>
            </div>
            <div class="income-column">
              <p>Proveedor: {{ income.Proveedor }}</p>
              <p>Piezas: {{ income.Piezas }}</p>
              <p>Tipo Cuenta: {{ income.TipoCuenta }}</p>
              <p>Cuenta: {{ income.NombreCuenta }}</p>
              <p>RFC: {{ income.RFC }}</p>
              <p>Monto: {{ income.Monto | currency }}</p>
              <p>Fecha: {{ income.Fecha }}</p>
              <p>Usuario: {{ income.NombreUsuarioRecibe }}</p>
            </div>
          </div>
        </ion-label>
      </ion-item>
    </div>
  </div>

  <!-- 🔹 ESCRITORIO: Tabla -->
  <div class="table-container" *ngIf="!isMobileDevice">
    <table class="table income-table">
      <thead class="header-row color_header_tabla">
        <tr>
          <th>ID</th>
          <th>Editar</th>
          <th>Tipo</th>
          <th>Segmento</th>
          <th>Categoría</th>
          <th>Subcategoría</th>
          <th>Concepto</th>
          <th>Descripción</th>
          <th>Proveedor</th>
          <th>Piezas</th>
          <th>Tipo Cuenta</th>
          <th>Cuenta</th>
          <th>RFC</th>
          <th>Monto</th>
          <th>Fecha</th>
          <th>Usuario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let income of paginatedIncomes" 
            [ngClass]="{'ingreso-row': income.TipoIngreso.data[0] === 0, 
                        'egreso-row': income.TipoIngreso.data[0] !== 0}">
          <td>{{ income.IngresoID }}</td>
          <td>
            <ion-button fill="clear" (click)="openModal(income)">
              <ion-icon name="create-outline" color="primary"></ion-icon>
            </ion-button>
          </td>
          <td>{{ income.TipoIngreso.data[0] === 0 ? 'Ingreso' : 'Egreso' }}</td>
          <td>{{ income.NombreSegmento }}</td>
          <td>{{ income.NombreCategoria }}</td>
          <td>{{ income.NombreSubcategoria }}</td>
          <td>{{ income.NombreConcepto }}</td>
          <td>{{ income.Descripcion }}</td>
          <td>{{ income.Proveedor }}</td>
          <td>{{ income.Piezas }}</td>
          <td>{{ income.TipoCuenta }}</td>
          <td>{{ income.NombreCuenta }}</td>
          <td>{{ income.RFC }}</td>
          <td>{{ income.Monto | currency }}</td>
          <td>{{ income.Fecha }}</td>
          <td>{{ income.NombreUsuarioRecibe }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ion-footer class="margin_footer">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</ion-button>
        <ion-button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</ion-button>
      </ion-buttons>

      <div class="page-info">
        Página {{ currentPage }} de {{ totalPages }}
      </div>

      <ion-select interface="popover" slot="end" style="margin-right: 2rem;" placeholder="Registros por página" [(ngModel)]="itemsPerPage" (ionChange)="onItemsPerPageChange()">
        <ion-select-option *ngFor="let option of itemsPerPageOptions" [value]="option">
          {{ option }}
        </ion-select-option>
      </ion-select>
    </ion-toolbar>
  </ion-footer>


</ion-content>


      <!-- Barra de carga con barra de progreso -->
      <div style="margin-top: 25%;" *ngIf="isLoading" class="loading-bar">
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
        <p>Cargando registros, por favor espere...</p>
      </div>
