<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ingresos cuenta contable</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="asignarCuenta()" class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size-md="12">

          <ion-item>
            <ion-label position="stacked">Tipo de Cuenta</ion-label>
            <ion-select 
              style="width: 32rem;" 
              [(ngModel)]="ingreso.TipoCuentaID" 
              name="tipoCuentaID" 
              required 
              interface="popover" 
              searchbar="true" 
              placeholder="Tipo cuenta"
              (ionChange)="onTipoCuentaChange()">
              <ion-select-option [value]="1">Caja Chica</ion-select-option>
              <ion-select-option [value]="2">Cuenta Bancaria</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item style="height: 5rem;" *ngIf="ingreso.TipoCuentaID">
            <ion-label position="stacked">Cuenta</ion-label>
            <ion-radio-group style="display: flex;" [(ngModel)]="isNewCuenta" name="isNewCuenta">
              <ion-item style="font-size: 12px;" *ngIf="ingreso.TipoCuentaID === 2 || ingreso.TipoCuentaID === 1">
                <ion-label>Usar existente</ion-label>
                <ion-radio slot="start" [value]="false" (ionSelect)="onCuentaSelection(false)"></ion-radio>
              </ion-item>
              <ion-item style="font-size: 12px;" *ngIf="ingreso.TipoCuentaID === 1 || ingreso.TipoCuentaID === 2">
                <ion-label>Crear nuevo</ion-label>
                <ion-radio slot="start" [value]="true" (ionSelect)="onCuentaSelection(true)"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-item>

          <ion-item *ngIf="!isNewCuenta && ingreso.TipoCuentaID === 1">
            <ion-label position="stacked">Caja Chica</ion-label>
            <ion-select placeholder="Caja Chica" style="width: 32rem;" [(ngModel)]="ingreso.CuentaID" name="cuenta" required interface="popover" searchbar="true">
              <ion-select-option *ngFor="let item of filteredCuentas" [value]="item.CuentaID" placeholder="Seleccione Caja Chica">{{ item.NombreCuenta }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="isNewCuenta && ingreso.TipoCuentaID === 1">
            <ion-label position="stacked">Nueva Caja Chica</ion-label>
            <ion-input style="width: 32rem;" [(ngModel)]="newNombreCuenta" name="newNombreCuenta" placeholder="Nuevo Caja Chica" required></ion-input>
          </ion-item>

          <ion-item *ngIf="!isNewCuenta && ingreso.TipoCuentaID === 2">
            <ion-label position="stacked">Cuenta Bancaria</ion-label>
            <ion-select placeholder="Cuenta Bancaria" style="width: 32rem;" [(ngModel)]="ingreso.CuentaID" name="cuenta" required interface="popover" searchbar="true" (ionChange)="onCuentaChange($event)">
              <ion-label position="stacked">Cuenta Cuenta Bancaria</ion-label>
              <ion-select-option style="width: 32rem;" *ngFor="let item of filteredCuentas" [value]="item.CuentaID" placeholder="Seleccione Cuenta Bancaria">{{ item.NombreCuenta }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="isNewCuenta && ingreso.TipoCuentaID === 2">
            <ion-label position="stacked">Nueva Cuenta Bancaria</ion-label>
            <ion-input style="width: 32rem;" [(ngModel)]="newNombreCuenta" name="newNombreCuenta" placeholder="Nueva Cuenta Bancaria" required></ion-input>
          </ion-item>
          
          <ion-item *ngIf="!isNewCuenta && ingreso.TipoCuentaID === 2">
            <ion-label position="stacked">RFC</ion-label>
            <ion-input placeholder="RFC" style="width: 32rem;" [(ngModel)]="ingreso.RFC" name="rfc" [readonly]="true"></ion-input>
          </ion-item>

          <ion-item *ngIf="isNewCuenta && ingreso.TipoCuentaID === 2">
            <ion-label position="stacked">RFC</ion-label>
            <ion-input style="width: 32rem;" [(ngModel)]="newRFC" name="newRFC" placeholder="Nuevo RFC" required></ion-input>
          </ion-item>


          <!-- Segmento -->
          <ion-item>
            <ion-label position="stacked">Segmento</ion-label>
            <ion-radio-group style="display: flex;" [(ngModel)]="isNewSegmento" name="isNewSegmento">
              <ion-item>
                <ion-label>Usar existente</ion-label>
                <ion-radio slot="start" [value]="false"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Crear nuevo</ion-label>
                <ion-radio slot="start" [value]="true"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div *ngIf="!isNewSegmento">
              <ion-select placeholder="Segmento" style="width: 30rem;" [(ngModel)]="ingreso.SegmentoID" name="segmento" required interface="popover" searchbar="true">
                <ion-select-option *ngFor="let item of segmento" [value]="item.SegmentoID">{{ item.Nombre }}</ion-select-option>
              </ion-select>
            </div>
            <div *ngIf="isNewSegmento">
              <ion-input style="width: 30rem;" [(ngModel)]="newSegmento" name="newSegmento" placeholder="Nuevo Segmento" required></ion-input>
            </div>
          </ion-item>


          <!-- Categoría -->
          <ion-item>
            <ion-label position="stacked">Categoría</ion-label>
            <ion-radio-group style="display: flex;" [(ngModel)]="isNewCategoria" name="isNewCategoria">
              <ion-item>
                <ion-label>Usar existente</ion-label>
                <ion-radio slot="start" [value]="false"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Crear nuevo</ion-label>
                <ion-radio slot="start" [value]="true"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div *ngIf="!isNewCategoria">
              <ion-select placeholder="Categoria" style="width: 30rem;" [(ngModel)]="ingreso.CategoriaID" name="categoria" required interface="popover" searchbar="true">
                <ion-select-option *ngFor="let item of categoria" [value]="item.CategoriaID">{{ item.Nombre }}</ion-select-option>
              </ion-select>
            </div>
            <div *ngIf="isNewCategoria">
              <ion-input style="width: 30rem;" [(ngModel)]="newCategoria" name="newCategoria" placeholder="Nueva Categoría" required></ion-input>
            </div>
          </ion-item>

          <!-- Subcategoría -->
          <ion-item>
            <ion-label position="stacked">Subcategoría</ion-label>
            <ion-radio-group style="display: flex;" [(ngModel)]="isNewSubcategoria" name="isNewSubcategoria">
              <ion-item>
                <ion-label>Usar existente</ion-label>
                <ion-radio slot="start" [value]="false"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Crear nuevo</ion-label>
                <ion-radio slot="start" [value]="true"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div *ngIf="!isNewSubcategoria">
              <ion-select placeholder="Subcategoria" style="width: 30rem;" [(ngModel)]="ingreso.SubcategoriaID" name="subcategoria" required interface="popover" searchbar="true">
                <ion-select-option *ngFor="let item of subcategoria" [value]="item.SubcategoriaID">{{ item.Nombre }}</ion-select-option>
              </ion-select>
            </div>
            <div *ngIf="isNewSubcategoria">
              <ion-input style="width: 30rem;" [(ngModel)]="newSubcategoria" name="newSubcategoria" placeholder="Nueva Subcategoría" required></ion-input>
            </div>
          </ion-item>


          <!-- Concepto -->
          <ion-item>
            <ion-label position="stacked">Concepto</ion-label>
            <ion-radio-group style="display: flex;" [(ngModel)]="isNewConcepto" name="isNewConcepto">
              <ion-item>
                <ion-label>Usar existente</ion-label>
                <ion-radio slot="start" [value]="false"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Crear nuevo</ion-label>
                <ion-radio slot="start" [value]="true"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div *ngIf="!isNewConcepto">
              <ion-select placeholder="Concepto" style="width: 30rem;" [(ngModel)]="ingreso.ConceptoID" name="concepto" required interface="alert" searchbar="true">
                <ion-select-option *ngFor="let item of concepto" [value]="item.ConceptoID">{{ item.Nombre }}</ion-select-option>
              </ion-select>
            </div>
            <div *ngIf="isNewConcepto">
              <ion-input style="width: 30rem;" [(ngModel)]="newConcepto" name="newConcepto" placeholder="Nuevo Concepto" required></ion-input>
            </div>
          </ion-item>


          <ion-item>
            <ion-label position="stacked">Cuenta Contable</ion-label>
            <ion-input 
              placeholder="Cuenta Contable" 
              [(ngModel)]="ingreso.CuentaContable" 
              name="cuentaContable" 
              required
              (input)="filterNumbers($event)">
            </ion-input>
          </ion-item>


        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-footer>
      <ion-button [disabled]="ingreso.SegmentoID == 0 || ingreso.SegmentoID == null || ingreso.CategoriaID == 0 || ingreso.CategoriaID == null || ingreso.SubcategoriaID == 0 || ingreso.SubcategoriaID == null || ingreso.ConceptoID == 0 || ingreso.ConceptoID == null || ingreso.TipoCuentaID == 0 || ingreso.TipoCuentaID == null || (ingreso.CuentaID == 0 && newNombreCuenta == '') || (ingreso.CuentaID == null && newNombreCuenta == '') || ingreso.CuentaContable <= 0" style="margin-bottom: 1rem;" expand="full" type="submit">Guardar</ion-button>
    </ion-footer>
  </form>
</ion-content>
