ion-item {
    --inner-padding-end: 0;
    ion-icon {
      margin-right: 8px;
    }
    h2, p {
      display: flex;
      align-items: center;
    }
  }
  
  .user-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 16px;
  }
  
  .user-card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  @media (min-width: 768px) {
    .user-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  


  .spinner-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .empty-state {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: gray;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
  }
  




  // tabla




  .table-container {
    width: 100%;
    overflow-x: auto;
    padding: 1.5rem;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    padding: 1.5rem;

  }
  
  .header-row {
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
  }
  
  .header-row th {
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
    white-space: nowrap;
  }
  
  .data-row {
    border-bottom: 1px solid #ddd;
  }
  
  .data-row td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .page-info {
    display: inline-block;
    margin-left: auto;
    margin-right: 16px;
    font-weight: bold;
  }
  
  .margin_footer {
    margin-left: 1rem;
    width: 98%;
  }

  .green-text {
    color: green;
  }

.search-container {
  margin: 16px;
}

.search-container ion-item {
    margin-bottom: 8px;
}

.color_header_tabla {
 background-color: #0054E9;
 color: #FFFFFF;
}