<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-container">
    <h2>Captura de ingresos y egresos</h2>
  </div>

  <div class="card-container">
    <ion-card *ngIf="!isMobileDevice" (click)="navigateTo('ingresos')">
      <ion-card-content>
        <ion-icon color="primary" name="cash-outline" slot="start"></ion-icon>
        <ion-card-title>Capturas de ingresos y egresos</ion-card-title>
      </ion-card-content>  
      <ion-card-content>
        <p>Aquí puedes ver y gestionar las capturas de ingresos / egresos.</p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="!isMobileDevice" (click)="navigateTo('ingresos-egresos')">
      <ion-card-content>
        <ion-icon color="primary" name="cash-outline" slot="start"></ion-icon>
        <ion-card-title>Ingresos / Egresos</ion-card-title>
      </ion-card-content>  
      <ion-card-content>
        <p>Aquí puedes ver la lista de ingresos y egresos en formato de tabla.</p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="!isMobileDevice" (click)="navigateTo('compilaciones')">
      <ion-card-content>
        <ion-icon color="primary" name="bar-Chart" slot="start"></ion-icon>
        <ion-card-title>Compilaciones</ion-card-title>
      </ion-card-content>
      <ion-card-content>
        <p>Compilado de datos de capturas por dia o rango de fecha.</p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="!isMobileDevice" (click)="navigateTo('reconciliaciones')">
      <ion-card-content>
        <ion-icon color="primary" name="folder-outline" slot="start"></ion-icon>
        <ion-card-title>Reconciliaciones</ion-card-title>
      </ion-card-content>
      <ion-card-content>
        <p>Seccion diseñada para realizar los procesos de reconciliacion.</p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="!isMobileDevice" (click)="navigateTo('reconciliaciones-historial')">
      <ion-card-content>
        <ion-icon color="primary" name="folder-outline" slot="start"></ion-icon>
        <ion-card-title>Reconciliaciones historial</ion-card-title>
      </ion-card-content>
      <ion-card-content>
        <p>Seccion diseñada para Consultar el historial de reconciliaciones y revertir cambios.</p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="!isMobileDevice" (click)="navigateTo('combinaciones')">
      <ion-card-content>
        <ion-icon color="primary" name="folder-outline" slot="start"></ion-icon>
        <ion-card-title>Combinaciones de ingresos/egresos</ion-card-title>
      </ion-card-content>
      <ion-card-content>
        <p>Seccion diseñada para validar las nuevas combinaciones por el supervisor de tesoreros.</p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="isAdmin && !isMobileDevice" (click)="navigateTo('proveedores')">
      <ion-card-content>
        <ion-icon color="primary" name="people-outline" slot="start"></ion-icon>
        <ion-card-title>Proveedores</ion-card-title>
      </ion-card-content>
      <ion-card-content>
        <p>Esta sección permite registrar y pre-seleccionar proveedores.</p>
      </ion-card-content>
    </ion-card>

    <ion-card  *ngIf="!isMobileDevice" (click)="navigateTo('transferencias')">
      <ion-card-content>
        <ion-icon color="primary" name="swap-horizontal-outline" slot="start"></ion-icon>
        <ion-card-title>Transferencias</ion-card-title>
      </ion-card-content>
      <ion-card-content>
        <p>Seccion de transferencias de cuenta a cuenta.</p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="isAdmin && !isMobileDevice" (click)="navigateTo('presupuesto')">
      <ion-card-content>
        <ion-icon color="primary" name="cash-outline" slot="start"></ion-icon>
        <ion-card-title>Presupuesto Semetral (Datos)</ion-card-title>
      </ion-card-content>
      <ion-card-content>
        <p>Seccion de presupuesto semestral promedio y datos.</p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="isAdmin && !isMobileDevice" (click)="navigateTo('presupuesto-mensual')">
      <ion-card-content>
        <ion-icon color="primary" name="cash-outline" slot="start"></ion-icon>
        <ion-card-title>Presupuesto Mensual</ion-card-title>
      </ion-card-content>
      <ion-card-content>
        <p>Seccion para planificar el presupuesto mensual.</p>
      </ion-card-content>
    </ion-card>

    <ion-card  *ngIf="!isMobileDevice" (click)="navigateTo('reportes')">
      <ion-card-content>
        <ion-icon color="primary" name="folder-outline" slot="start"></ion-icon>
        <ion-card-title>Reportes</ion-card-title>
      </ion-card-content>
      <ion-card-content>
        <p>Generacion de reportes informativosS.</p>
      </ion-card-content>
    </ion-card>

    <ion-card  *ngIf="isMobileDevice" (click)="navigateTo('proyeccion')">
      <ion-card-content>
        <ion-icon color="primary" name="cash-outline" slot="start"></ion-icon>
        <ion-card-title>Proyeccion</ion-card-title>
      </ion-card-content>  
      <ion-card-content>
        <p>Aquí puedes ver graficas y estadisticas relevantes de egresos e ingresos.</p>
      </ion-card-content>
    </ion-card>

    <ion-card  *ngIf="isMobileDevice" (click)="navigateTo('resumen-presupuesto')">
      <ion-card-content>
        <ion-icon color="primary" name="cash-outline" slot="start"></ion-icon>
        <ion-card-title>Resumen Presupuesto</ion-card-title>
      </ion-card-content>  
      <ion-card-content>
        <p>Resumenes y datos sobre el presupuesto.</p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="isAdmin" (click)="navigateTo('usuarios')">
      <ion-card-content>
        <ion-icon color="primary" name="people-outline" slot="start"></ion-icon>
        <ion-card-title>Usuarios</ion-card-title>
      </ion-card-content>
      <ion-card-content>
        <p>Esta sección permite dar de alta y gestionar usuarios.</p>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
