<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Asignar Cuenta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="asignarCuenta()" class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size-md="12">

          <ion-item *ngIf="isMassiveAssignMode">
            <ion-label>Total de montos seleccionados:</ion-label>
            <ion-text>{{ totalMontoSeleccionado | currency:'MXN':'symbol' }}</ion-text>
          </ion-item>

          <!-- Tipo de Ingreso (Total o Parcial) -->
          <ion-item *ngIf="!isMassiveAssignMode">
            <ion-label position="stacked">Tipo de Monto</ion-label>
            <ion-radio-group style="display: flex;" [(ngModel)]="isMontoParcial" name="isMontoParcial">
              <ion-item>
                <ion-label>Monto Total</ion-label>
                <ion-radio slot="start" [value]="false"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Monto Parcial</ion-label>
                <ion-radio slot="start" [value]="true"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-item>

          <!-- Campo de monto parcial si se selecciona "Monto Parcial" -->
          <ion-item *ngIf="isMontoParcial">
            <ion-label position="stacked">Monto Parcial</ion-label>
            <ion-input
              placeholder="Ingrese el monto parcial"
              [(ngModel)]="ingreso.MontoParcial"
              name="montoParcial"
              type="number"
              min="0"
              [max]="initialMonto"
              required
            ></ion-input>
          </ion-item>

 
          <!-- Selección del tipo de cuenta que recibe -->
          <ion-item>
            <ion-label position="stacked">Tipo de Cuenta</ion-label>
            <ion-select 
              style="width: 32rem;" 
              [(ngModel)]="ingreso.TipoCuentaID" 
              name="TipoCuentaID" 
              required 
              interface="popover" 
              searchbar="true" 
              placeholder="Tipo cuenta"
              (ionChange)="onTipoCuentaChange('envia')">
              <ion-select-option [value]="1">Caja Chica</ion-select-option>
              <ion-select-option [value]="2">Cuenta Bancaria</ion-select-option>
            </ion-select>
          </ion-item>


          <!-- Selección de la cuenta que recibe -->
          <ion-item>
            <ion-label position="stacked">{{ ingreso.TipoCuentaID === 1 ? 'Caja Chica' : 'Cuenta' }}</ion-label>
            <ion-select placeholder="Seleccione cuenta" style="width: 32rem;" [(ngModel)]="ingreso.CuentaID" name="cuentaID" required interface="popover" searchbar="true">
              <ion-select-option *ngFor="let item of filteredCuentasEnvia" [value]="item.CuentaID">{{ item.NombreCuenta }}</ion-select-option>
            </ion-select>
          </ion-item>


          <!-- Selección del tipo de cuenta que recibe -->
          <ion-item *ngIf="!isMassiveAssignMode && !isMontoParcial">
            <ion-label position="stacked">Tipo de Cuenta 2 (opcional)</ion-label>
            <ion-select 
              style="width: 32rem;" 
              [(ngModel)]="ingreso.TipoCuenta2ID" 
              name="recibeTipoCuentaID" 
              required 
              interface="popover" 
              searchbar="true" 
              placeholder="Tipo cuenta"
              (ionChange)="onTipoCuentaChange('recibe')">
              <ion-select-option [value]="1">Caja Chica</ion-select-option>
              <ion-select-option [value]="2">Cuenta Bancaria</ion-select-option>
            </ion-select>
          </ion-item>


          <!-- Selección de la cuenta que recibe -->
          <ion-item *ngIf="!isMassiveAssignMode && !isMontoParcial">
            <ion-label position="stacked">{{ ingreso.TipoCuenta2ID === 1 ? 'Caja Chica (opcional)' : 'Cuenta (opcional)' }}</ion-label>
            <ion-select placeholder="Seleccione cuenta" style="width: 32rem;" [(ngModel)]="ingreso.Cuenta2ID" name="cuenta2ID" required interface="popover" searchbar="true">
              <ion-select-option *ngFor="let item of filteredCuentasRecibe" [value]="item.CuentaID">{{ item.NombreCuenta }}</ion-select-option>
            </ion-select>
          </ion-item>

          <!-- Mostrar el campo de monto solo si se selecciona una cuenta secundaria -->
          <ion-item *ngIf="ingreso.Cuenta2ID != 0 && ingreso.Cuenta2ID != null">
            <ion-label position="stacked">Monto cuenta secundaria</ion-label>
            <ion-input
              placeholder="Monto"
              [(ngModel)]="ingreso.Monto"
              name="monto"
              type="number"
              min="0"
              [max]="initialMonto" 
              required
            ></ion-input>
          </ion-item>

          <!-- Categoría -->
          <ion-item>
            <ion-label position="stacked">Categoría</ion-label>
            <ion-radio-group style="display: flex;" [(ngModel)]="isNewCategoria" name="isNewCategoria">
              <ion-item>
                <ion-label>Usar existente</ion-label>
                <ion-radio slot="start" [value]="false"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Crear nuevo</ion-label>
                <ion-radio slot="start" [value]="true"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div *ngIf="!isNewCategoria">
              <ion-select placeholder="Categoria" style="width: 30rem;" [(ngModel)]="ingreso.CategoriaID" name="categoria" required interface="popover" searchbar="true">
                <ion-select-option *ngFor="let item of categoria" [value]="item.CategoriaID">{{ item.Nombre }}</ion-select-option>
              </ion-select>
            </div>
            <div *ngIf="isNewCategoria">
              <ion-input style="width: 30rem;" [(ngModel)]="newCategoria" name="newCategoria" placeholder="Nueva Categoría" required></ion-input>
            </div>
          </ion-item>

          <!-- Subcategoría -->
          <ion-item>
            <ion-label position="stacked">Subcategoría</ion-label>
            <ion-radio-group style="display: flex;" [(ngModel)]="isNewSubcategoria" name="isNewSubcategoria">
              <ion-item>
                <ion-label>Usar existente</ion-label>
                <ion-radio slot="start" [value]="false"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Crear nuevo</ion-label>
                <ion-radio slot="start" [value]="true"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div *ngIf="!isNewSubcategoria">
              <ion-select placeholder="Subcategoria" style="width: 30rem;" [(ngModel)]="ingreso.SubcategoriaID" name="subcategoria" required interface="popover" searchbar="true">
                <ion-select-option *ngFor="let item of subcategoria" [value]="item.SubcategoriaID">{{ item.Nombre }}</ion-select-option>
              </ion-select>
            </div>
            <div *ngIf="isNewSubcategoria">
              <ion-input style="width: 30rem;" [(ngModel)]="newSubcategoria" name="newSubcategoria" placeholder="Nueva Subcategoría" required></ion-input>
            </div>
          </ion-item>


        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-footer>
      <ion-button [disabled]=" ingreso.Monto < 0 || ingreso.Monto > initialMonto || ingreso.MontoParcial > initialMonto || ingreso.MontoParcial < 0 || (ingreso.CategoriaID == 0 && newCategoria == '') || ingreso.SubcategoriaID == 0 || ingreso.SubcategoriaID == null || ingreso.TipoCuentaID == 0 || ingreso.TipoCuentaID == null || (ingreso.CuentaID == 0 && newNombreCuenta == '') || (ingreso.CuentaID == null && newNombreCuenta == '')" style="margin-bottom: 1rem;" expand="full" type="submit">Asignar Cuenta</ion-button>
    </ion-footer>
  </form>
</ion-content>
