<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reconciliaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div *ngIf="!showTables">
      <ion-item>
        <ion-label>Fecha final:</ion-label>
        <input type="date" [(ngModel)]="fechaFinal">
      </ion-item>

      <ion-item>
        <ion-label style="margin-right: 1rem;">Balance:</ion-label>
        <ion-input [(ngModel)]="balanceFinal" type="number" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Tipo de cuenta:</ion-label>
        <ion-select [(ngModel)]="tipoCuenta" (ionChange)="onTipoCuentaChange($event)">
          <ion-select-option value="cajaChica">Caja Chica</ion-select-option>
          <ion-select-option value="cuentaBancaria">Cuenta Bancaria</ion-select-option>
        </ion-select>
      </ion-item>

      <div *ngIf="tipoCuenta === 'cajaChica'">
        <ion-item>
          <ion-label>Cuenta caja chica:</ion-label>
          <ion-select [(ngModel)]="cuentaCajaChica">
            <ion-select-option *ngFor="let income of incomesCajaChica" [value]="income.CuentaID">{{ income.NombreCuenta }}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div *ngIf="tipoCuenta === 'cuentaBancaria'">
        <ion-item>
          <ion-label>Cuenta bancaria:</ion-label>
          <ion-select [(ngModel)]="cuentaBancaria">
            <ion-select-option *ngFor="let income of incomesCuentaBancaria" [value]="income.CuentaID">{{ income.NombreCuenta }}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <ion-button style="margin: 1rem 0 0 1rem;" [disabled]="!isFormValid()" (click)="reconciliar()">Reconciliar</ion-button>
    </div>

    <div *ngIf="showTables" class="tamaño_fuente_tablas">

      <div class="contenedor_titulos">
        <h1>{{ selectedAccountName }}</h1>
        <h4>Fecha del reporte de reconciliacion: {{ fechaFinal }}</h4>
      </div>

      <div class="propiedades_contenedor_tablas">

        <div class="contenedor_ingresos">
          <h2 style="margin-left: 1rem; font-size: 1.2rem;">Ingresos</h2>
          <div class="table-container">
            <table class="table">
              <thead class="header-row">
                <tr>
                  <th>ID</th>
                  <th>Fecha Conciliación</th>
                  <th>Segmento</th>
                  <th>Descripción</th>
                  <th>Monto</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let income of incomes" class="data-row">
                  <td>{{ income.IngresoID }}</td>
                  <td>{{ income.FechaConciliacion }}</td>
                  <td>{{ income.NombreSegmento }}</td>
                  <td>{{ income.Descripcion }}</td>
                  <td>{{ income.Monto }}</td>
                  <td><input type="checkbox" [(ngModel)]="income.Reconciliado" (ionChange)="handleCheckboxChange(income)"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="contenedor_egresos">
          <h2 style="margin-left: 1rem; font-size: 1.2rem;">Egresos</h2>
          <div class="table-container">
            <table class="table">
              <thead class="header-row">
                <tr>
                  <th>ID</th>
                  <th>Fecha Conciliación</th>
                  <th>Segmento</th>
                  <th>Concepto</th>
                  <th>Monto</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let income of incomes" class="data-row"> -->
                <tr class="data-row">
                  <!-- <td>{{ income.IngresoID }}</td>
                  <td>{{ income.FechaConciliacion }}</td>
                  <td>{{ income.NombreSegmento }}</td>
                  <td>{{ income.NombreConcepto }}</td>
                  <td>{{ income.Monto }}</td>
                  <td><input type="checkbox" [(ngModel)]="income.Reconciliado"></td> -->
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

      <div style="margin-left: 4rem;">
        <p style="font-size: 16px;">Balance actual de {{selectedAccountName}}: ${{ultimaReconciliacionSaldo}}</p>
        <p style="font-size: 16px;">Fecha de última reconciliación de {{selectedAccountName}}: {{ultimaReconciliacionFecha}}</p>
        <p style="font-size: 16px;">Balance final para: ${{ balanceFinal }}</p>
        <p style="font-size: 16px;">Diferencia: ${{ diferencia }}</p>
        <ion-button [disabled]="diferencia !== 0" style="margin-top: 1rem;">Procesar Reconciliación</ion-button>
      </div>

    </div>


  </div>
</ion-content>
