<ion-header>
  <ion-toolbar>
    <ion-title>Seleccionar concepto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterCombinaciones()"></ion-searchbar>

  <ion-list *ngIf="filteredConceptos.length > 0">
    <ion-item *ngFor="let concepto of filteredConceptos" (click)="selectCombination(concepto)">
      <ion-label>
        <h2>{{ concepto.NombreConcepto }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <div *ngIf="filteredConceptos.length === 0" class="no-results">
    <p>No hay conceptos disponibles.</p>
  </div>
  
</ion-content>
