<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reportes conciliados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- 🔹 FILTROS EN UNA SOLA FILA -->
  <div style="justify-content: center;" class="filters-row">
    <div class="button-group">
      <div style="display: flex; gap: 1rem; flex-wrap: wrap; margin-bottom: 1rem; align-items: center; justify-content: center;">

        <div class="button-select-group">
          <button style="margin-right: 0;" (click)="setFiltro('ingresos')" [disabled]="filtroSeleccionado === 'ingresos'">Ingresos</button>
        </div>

        <div class="button-select-group">
          <button style="margin-right: 0;" (click)="setFiltro('egresos')" [disabled]="filtroSeleccionado === 'egresos'">Egresos</button>
        </div>

        <div class="export-buttons" style="display: flex; gap: 0.5rem;">
          <ion-button color="primary" (click)="exportarPDF()">
            <ion-icon name="document-outline" slot="start"></ion-icon>
            PDF
          </ion-button>
          <ion-button color="success" (click)="exportarExcel()">
            <ion-icon name="download-outline" slot="start"></ion-icon>
            Excel
          </ion-button>
        </div>

        <div>
          <select [(ngModel)]="dateMode" (change)="onDateChange()" class="custom-select">
            <option value="single">Día</option>
            <option value="range">Rango de fechas</option>
          </select>
        </div>

        <ng-container *ngIf="dateMode === 'single'">
          <input type="date" [(ngModel)]="selectedDateStart" (change)="onDateChange()" class="custom-select" />
        </ng-container>

        <ng-container *ngIf="dateMode === 'range'">
          <input type="date" [(ngModel)]="selectedDateStart" (change)="onDateChange()" class="custom-select" />
          <span style="margin: 0 0.5rem;">a</span>
          <input type="date" [(ngModel)]="selectedDateEnd" (change)="onDateChange()" class="custom-select" />
        </ng-container>

      </div>
    </div>
  </div>

  <!-- 🔹 SEGMENTO Y TOTALES ABAJO -->
  <div style="margin: 1rem 0;">
    <ion-segment [(ngModel)]="modoVista" (ionChange)="onModoVistaChange()">
      <ion-segment-button value="tabla">
        Tabla
      </ion-segment-button>
      <ion-segment-button value="grafica">
        Gráfica
      </ion-segment-button>
    </ion-segment>

    <div class="totals-summary">
      <ion-card>
        <ion-card-header class="card-header ingreso-header">
          <ion-card-title>Ingresos</ion-card-title>
        </ion-card-header>
        <ion-card-content style="margin-top: 0.5em;">
          {{ totalIngresos | currency:'MXN':'symbol' }}
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header class="card-header egreso-header">
          <ion-card-title>Egresos</ion-card-title>
        </ion-card-header>
        <ion-card-content style="margin-top: 0.5em;">
          {{ totalEgresos | currency:'MXN':'symbol' }}
        </ion-card-content>
      </ion-card>
    </div>

    <div class="seleccionados-container">
      <div *ngIf="segmentoSeleccionado" class="selector-pill segmento" (click)="volverAFiltro('segmento')" style="cursor: pointer;">
        <ion-icon name="albums-outline"></ion-icon>
        {{ segmentoSeleccionado.nombre }}
      </div>

      <div *ngIf="categoriaSeleccionada" class="selector-pill categoria" (click)="volverAFiltro('categoria')" style="cursor: pointer;">
        <ion-icon name="pricetag-outline"></ion-icon>
        {{ categoriaSeleccionada.nombre }}
      </div>

      <div *ngIf="subcategoriaSeleccionada" class="selector-pill subcategoria" (click)="volverAFiltro('subcategoria')" style="cursor: pointer;">
        <ion-icon name="pricetags-outline"></ion-icon>
        {{ subcategoriaSeleccionada.nombre }}
      </div>
    </div>

    <div *ngIf="modoVista === 'grafica'" style="padding: 1rem 0;">
      <h2 class="chart-title">{{ getTituloGraficaIngresos() }}</h2>

      <div class="chart-container auto-height">
        <canvas id="barChartIngresos" style="width: 100%; height: auto;"></canvas>
      </div>

      <h2 class="chart-title">{{ getTituloGraficaEgresos() }}</h2>

      <div class="chart-container auto-height">
        <canvas id="barChartEgresos" style="width: 100%; height: auto;"></canvas>
      </div>
    </div>
  </div>

  <!-- 🔹 TABLA -->

  <div *ngIf="modoVista === 'tabla'" class="table-container">
    <table class="table">
      <thead class="header-row">
        <tr class="color_header_tabla">
          <th>Filtrar</th> <!-- Nueva columna para botón -->
          <th>Tipo</th>
          <th>{{ columnaNombre }}</th>
          <th>Monto total</th>
          <th>Total registros</th>
          <th>Última fecha</th>
          <th>% del total</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of paginatedData"
          class="data-row"
          [ngClass]="{
            'ingreso-row': isIngreso(item.TipoIngreso),
            'egreso-row': isEgreso(item.TipoIngreso)
          }"
        >
          <td style="text-align: center;">
            <span (click)="filtrarPorItem(item)" style="cursor: pointer; font-size: 14px;">🔍</span>
          </td>
          <td>{{ getTipoIngresoDescripcion(item.TipoIngreso) }}</td>
          <td>{{ getNombreColumna(item) }}</td>
          <td>{{ item.TotalMonto | currency: 'MXN':'symbol' }}</td>
          <td>{{ item.TotalRegistros }}</td>
          <td>{{ item.UltimaFecha | date: 'dd/MM/yyyy' }}</td>
          <td>
            {{ calcularPorcentaje(+item.TotalMonto, item.TipoIngreso) }}%
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 🔹 LOADER -->
  <div *ngIf="isLoading" class="loading-bar" style="margin-top: 2rem;">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <p>Cargando registros, por favor espere...</p>
  </div>

  <!-- 🔹 PAGINACIÓN -->
  <ion-footer *ngIf="modoVista === 'tabla'" style="margin-bottom: 4rem; margin-top: 0.5rem;" class="margin_footer">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</ion-button>
        <ion-button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</ion-button>
      </ion-buttons>

      <div class="page-info">
        {{ currentPage }} de {{ totalPages }}
      </div>

      <ion-select
        interface="popover"
        slot="end"
        style="margin-right: 1rem;"
        placeholder="Registros por página"
        [(ngModel)]="itemsPerPage"
        (ionChange)="onItemsPerPageChange()"
      >
        <ion-select-option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</ion-select-option>
      </ion-select>
    </ion-toolbar>
  </ion-footer>

</ion-content>
