.table-container {
    width: 100%;
    overflow-x: auto;
    padding: 1rem;

  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    padding: 1rem;
  }
  
  .header-row {
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
  }
  
  .header-row th {
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
    white-space: nowrap;
  }
  
  .data-row {
    border-bottom: 1px solid #ddd;
  }
  
  .data-row td {
    padding: 0px 8px;
    text-align: center;
    border: 1px solid #ddd;
    white-space: nowrap; /* Esto ayuda a mantener todo en una línea */
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .page-info {
    display: inline-block;
    margin-left: auto;
    margin-right: 16px;
    font-weight: bold;
  }
  
  .margin_footer {
    margin-left: 1rem;
    width: 98%;
  }

  .green-text {
    color: green;
  }

.search-container {
  margin: 16px;
}

.search-container ion-item {
    margin-bottom: 8px;
}

.color_header_tabla {
  background-color: #0054E9;
  color: #FFFFFF;
 }

 .text-red {
  color: red;
}

.text-green {
  color: green;
}

.no-account {
  background-color: #fff59d; /* Amarillo suave */
}

.yellow-background {
  background-color: #fff59d;
}

.aquamarine-background {
  background-color: darkseagreen;
}

.button-group button[disabled] {
  background-color: #007bff;
  color: white;
}

.button-group button {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 5px;
}


.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.loading-bar ion-spinner, .loading-bar ion-progress-bar {
  margin: 5px auto;
}


.green-text {
  color: green;
}

.red-text {
  color: red;
}


.table th,
.table td {
  white-space: nowrap;        /* No permite salto de línea */
  overflow: hidden;           /* Oculta el texto que se desborda */
  text-overflow: ellipsis;    /* Agrega "..." si el texto es muy largo */
  // max-width: 200px;           /* Ajusta este ancho según lo que necesites */
}



.zoom-inline {
  display: flex;
  align-items: center;
  gap: 8px; /* espacio entre el texto y el rango */
  min-width: 200px;
}

/* Estilo solo para el botón con la clase 'small-button' */
.small-button {
  font-size: 10px; /* Tamaño de la fuente reducido */
  padding: 0px 10px; /* Reduce el tamaño del botón */
}
