<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ingresos / Egresos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Search Interface -->
  <div class="search-container">
    <ion-item>
      <ion-label>Buscar por:</ion-label>
      <ion-select [(ngModel)]="selectedFields" multiple="true" placeholder="Seleccionar campo">
        <ion-select-option *ngFor="let field of searchFields" [value]="field.value">{{ field.label }}</ion-select-option>
      </ion-select>
    </ion-item>

    <div *ngFor="let field of selectedFields">
      <ion-item *ngIf="!isDateField(field)">
        <ion-label style="margin-right: 1rem;">{{ getFieldLabel(field) }}:</ion-label>
        <ion-input [(ngModel)]="searchValues[field]"></ion-input>
      </ion-item>
    
      <div *ngIf="isDateField(field)">
        <ion-item>
          <ion-label>{{ getFieldLabel(field) }} Desde:</ion-label>
          <input type="date" [value]="getStartDate(field)" (change)="onStartDateChange($event, field)">
        </ion-item>
        <ion-item>
          <ion-label>{{ getFieldLabel(field) }} Hasta:</ion-label>
          <input type="date" [value]="getEndDate(field)" (change)="onEndDateChange($event, field)">
        </ion-item>
      </div>
      
    </div>

    <ion-button (click)="applySearch()">Buscar</ion-button>

    <ion-button color="light" (click)="resetSearch()">Reset</ion-button>

    <ion-button style="margin-left: 4rem;" color="warning" (click)="openAssignAccountsModal()">Asignar Cuentas</ion-button>

    <div style="margin-top: 1rem;" class="button-group">
      <button (click)="setFilter('all')" [disabled]="filtroSeleccionado === 'all'">Todos</button>
      <button (click)="setFilter('ingresos')" [disabled]="filtroSeleccionado === 'ingresos'">Ingresos</button>
      <button (click)="setFilter('egresos')" [disabled]="filtroSeleccionado === 'egresos'">Egresos</button>
    </div>

    
  </div>

  
  <div class="table-container">
    <table class="table">
      <thead class="header-row">
        <tr class="color_header_tabla">
          <th>ID</th>
          <th *ngIf="isAdmin">Editar</th>
          <th *ngIf="isAdmin">Cuenta</th>
          <th><span style="margin-left: 2rem;"></span> Fecha <span style="margin-left: 2rem;"></span></th>
          <th><span style="margin-left: 2rem;"></span>Segmento<span style="margin-left: 2rem;"></span></th>
          <th><span style="margin-left: 3rem;"></span>Categoria<span style="margin-left: 3rem;"></span></th>
          <th *ngIf="!mostrarIngresos"><span style="margin-left: 3rem;"></span>Subcategoria<span style="margin-left: 3rem;"></span></th>
          <th><span style="margin-left: 10rem;"></span> Concepto <span style="margin-left: 10rem;"></span></th>
          <th><span style="margin-left: 10rem;"></span>Descripcion<span style="margin-left: 10rem;"></span></th>
          <th *ngIf="!mostrarIngresos"><span style="margin-left: 3rem;"></span>Proveedor<span style="margin-left: 3rem;"></span></th>
          <th *ngIf="!mostrarIngresos"><span style="margin-left: 3rem;"></span>Estatus Proveedor<span style="margin-left: 3rem;"></span></th>
          <th *ngIf="!mostrarIngresos">Piezas</th>
          <th><span style="margin-left: 2rem;"></span>Tipo de cuenta<span style="margin-left: 2rem;"></span></th>
          <th><span style="margin-left: 2rem;"></span>Cuenta<span style="margin-left: 2rem;"></span></th>
          <th>RFC</th>
          <th>Monto</th>
          <th>Saldo</th>
          <th *ngIf="!mostrarIngresos"><span style="margin-left: 1rem;"></span>Comprobante<span style="margin-left: 1rem;"></span></th>
          <th *ngIf="!mostrarIngresos"><span style="margin-left: 4rem;"></span>Estatus<span style="margin-left: 4rem;"></span></th>
          <th>Fecha Autorizacion</th>
          <th>Usuario Autoriza</th>
          <th>Usuario Recibe</th>
          <th>Fecha Conciliacion</th>
          <th>Reconciliado</th>
          <th>Ingreso / Egreso</th>
          <th>Reconciliacion ID</th>
          <th><span style="margin-left: 6rem;"></span>Observaciones<span style="margin-left: 6rem;"></span></th>
        </tr>
      </thead>
      <tbody style="font-size: 12px;">
        <tr *ngFor="let income of paginatedIncomes"     [ngClass]="{
          'yellow-background': !income.NombreCuenta && income.Reconciliado === 0,
          'aquamarine-background': income.NombreCuenta && income.Reconciliado === 0}" class="data-row">
          <td>{{ income.IngresoID }}</td>
          <td *ngIf="isAdmin">
            <ion-icon 
              name="checkbox" 
              (click)="income.Reconciliado === 1 ? editarCombinacion(income.IngresoID) : null"
              [style.cursor]="income.Reconciliado === 1 ? 'pointer' : 'default'"
              [style.color]="income.Reconciliado === 1 ? 'green' : 'grey'"
              aria-label="Editar">
            </ion-icon>
          </td>
          <td *ngIf="isAdmin">
            <ion-icon 
              style="color: green; cursor: pointer;"
              name="key-sharp" 
              (click)="asignarCuenta(income.IngresoID)"
              aria-label="Asignar Cuenta">
            </ion-icon>
          </td>
          <td>{{ income.Fecha }}</td>
          <td>{{ income.NombreSegmento }}</td>
          <td>{{ income.NombreCategoria }}</td>
          <td *ngIf="!mostrarIngresos">{{ income.NombreSubcategoria }}</td>
          <td>{{ income.NombreConcepto }}</td>
          <td>{{ income.Descripcion }}</td>
          <td *ngIf="!mostrarIngresos">{{ income.Proveedor }}</td>
          <td *ngIf="!mostrarIngresos">
            <ng-container *ngIf="income.ProveedorEstatus">
              <span [ngClass]="(income.ProveedorEstatus.data && income.ProveedorEstatus.data.length > 0) ? 
                               (income.ProveedorEstatus.data[0] === 0 ? 'text-red' : 
                                income.ProveedorEstatus.data[0] === 1 ? 'text-green' : '') : ''">
                {{ (income.ProveedorEstatus.data && income.ProveedorEstatus.data.length > 0) ? 
                   (income.ProveedorEstatus.data[0] === 0 ? 'Proveedor no autorizado' : 
                    income.ProveedorEstatus.data[0] === 1 ? 'Proveedor autorizado' : '') : '' }}
              </span>
            </ng-container>
          </td>
          <td *ngIf="!mostrarIngresos">{{ income.Piezas }}</td>
          <td [ngClass]="{'green-text': true}">
            {{ income.TipoCuenta}}
          </td>
          <td>{{ income.NombreCuenta }}</td>
          <td>{{ income.RFC }}</td>
          <td>{{ income.Monto }}</td>
          <td>
            {{ income.Reconciliado === 0 ? income.Saldo : income.SaldoReconciliacion }}
          </td>
          <td *ngIf="!mostrarIngresos">
            <ion-button 
              *ngIf="!income.TipoIngreso.data.includes(0)" 
              [color]="income.Comprobante ? 'warning' : 'primary'" 
              (click)="handleButtonClick(income.Comprobante, income.IngresoID)">
              {{ income.Comprobante ? 'Descargar' : 'Subir' }}
            </ion-button>
          </td>
          <td *ngIf="!mostrarIngresos">{{ income.NombreEstatus }}</td>
          <td>{{ income.FechaAutorizacion }}</td>
          <td>{{ income.NombreUsuarioAutoriza }}</td>
          <td>{{ income.NombreUsuarioRecibe }}</td>
          <td [ngClass]="{ 'text-red': income.Reconciliado === 0, 'text-green': income.Reconciliado === 1 }">
            {{ income.FechaConciliacion }}
          </td>
          <td [ngClass]="{ 'text-red': income.Reconciliado === 0, 'text-green': income.Reconciliado === 1 }">
            {{ income.Reconciliado === 0 ? 'No reconciliado' : 'Reconciliado' }}
          </td>
          <td>
            {{ income.TipoIngreso.data.includes(0) ? 'Ingreso' : 'Egreso' }}
          </td>
          <td>{{ income.ReconciliacionID }}</td>
          <td>{{ income.ObservacionesDifConciliacion }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ion-footer style="margin-bottom: 4rem;" class="margin_footer">
    <ion-toolbar>

      <ion-buttons slot="start">
        <ion-button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</ion-button>
        <ion-button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</ion-button>
      </ion-buttons>
      <div class="page-info">
        Página {{ currentPage }} de {{ totalPages }}
      </div>

      <ion-select slot="end" style="margin-right: 2rem;" placeholder="Registros por página" [(ngModel)]="itemsPerPage" (ionChange)="onItemsPerPageChange()">
        <ion-select-option *ngFor="let option of itemsPerPageOptions" [value]="option">
          {{ option }}
        </ion-select-option>
      </ion-select>

    </ion-toolbar>
  </ion-footer>
  
</ion-content>


      <!-- Barra de carga con barra de progreso -->
      <div style="margin-top: 25%;" *ngIf="isLoading" class="loading-bar">
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
        <p>Cargando registros, por favor espere...</p>
      </div>
