<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ingresos / Egresos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Search Interface -->
  <div class="search-container">
    <ion-item>
      <ion-label>Buscar por:</ion-label>
      <ion-select [(ngModel)]="selectedFields" multiple="true" placeholder="Seleccionar campo">
        <ion-select-option *ngFor="let field of searchFields" [value]="field.value">{{ field.label }}</ion-select-option>
      </ion-select>
    </ion-item>

    <div *ngFor="let field of selectedFields">
      <ion-item *ngIf="!isDateField(field)">
        <ion-label style="margin-right: 1rem;">{{ getFieldLabel(field) }}:</ion-label>
        <ion-input [(ngModel)]="searchValues[field]"></ion-input>
      </ion-item>
    
      <div *ngIf="isDateField(field)">
        <ion-item>
          <ion-label>{{ getFieldLabel(field) }} Desde:</ion-label>
          <input type="date" [value]="getStartDate(field)" (change)="onStartDateChange($event, field)">
        </ion-item>
        <ion-item>
          <ion-label>{{ getFieldLabel(field) }} Hasta:</ion-label>
          <input type="date" [value]="getEndDate(field)" (change)="onEndDateChange($event, field)">
        </ion-item>
      </div>
      
    </div>

    <ion-button (click)="applySearch()">Buscar</ion-button>
    <ion-button color="light" (click)="resetSearch()">Reset</ion-button>
  </div>

  
  <div class="table-container">
    <table class="table">
      <thead class="header-row">
        <tr class="color_header_tabla">
          <th>ID</th>
          <th><span style="margin-left: 2rem;"></span> Fecha <span style="margin-left: 2rem;"></span></th>
          <th><span style="margin-left: 10rem;"></span> Concepto <span style="margin-left: 10rem;"></span></th>
          <th><span style="margin-left: 2rem;"></span>Segmento<span style="margin-left: 2rem;"></span></th>
          <th><span style="margin-left: 3rem;"></span>Categoria<span style="margin-left: 3rem;"></span></th>
          <th><span style="margin-left: 3rem;"></span>Subcategoria<span style="margin-left: 3rem;"></span></th>
          <th><span style="margin-left: 10rem;"></span>Descripcion<span style="margin-left: 10rem;"></span></th>
          <th><span style="margin-left: 3rem;"></span>Proveedor<span style="margin-left: 3rem;"></span></th>
          <th>Piezas</th>
          <th><span style="margin-left: 2rem;"></span>Tipo de ingreso<span style="margin-left: 2rem;"></span></th>
          <th>Cuenta</th>
          <th>RFC</th>
          <th>Monto</th>
          <th>Saldo</th>
          <th><span style="margin-left: 1rem;"></span>Comprobante<span style="margin-left: 1rem;"></span></th>
          <th><span style="margin-left: 4rem;"></span>Estatus<span style="margin-left: 4rem;"></span></th>
          <th>Fecha Autorizacion</th>
          <th>Usuario Autoriza</th>
          <th>Usuario Recibe</th>
          <th>Fecha Conciliacion</th>
          <th>Reconciliado</th>
          <th>Ingreso / Egreso</th>
          <th>Reconciliacion ID</th>
          <th><span style="margin-left: 6rem;"></span>Observaciones<span style="margin-left: 6rem;"></span></th>
        </tr>
      </thead>
      <tbody style="font-size: 12px;">
        <tr *ngFor="let income of paginatedIncomes" class="data-row">
          <td>{{ income.IngresoID }}</td>
          <td>{{ income.Fecha }}</td>
          <td>{{ income.NombreConcepto }}</td>
          <td>{{ income.NombreSegmento }}</td>
          <td>{{ income.NombreCategoria }}</td>
          <td>{{ income.NombreSubcategoria }}</td>
          <td>{{ income.Descripcion }}</td>
          <td>{{ income.Proveedor }}</td>
          <td>{{ income.Piezas }}</td>
          <td [ngClass]="{'green-text': true}">
            {{ income.TipoCuenta}}
          </td>
          <td>{{ income.NombreCuenta }}</td>
          <td>{{ income.RFC }}</td>
          <td>{{ income.Monto }}</td>
          <td>{{ income.SaldoReconciliacion }}</td>
          <td>{{ income.Comprobante }}</td>
          <td>{{ income.NombreEstatus }}</td>
          <td>{{ income.FechaAutorizacion }}</td>
          <td>{{ income.NombreUsuarioAutoriza }}</td>
          <td>{{ income.NombreUsuarioRecibe }}</td>
          <td [ngClass]="{ 'text-red': income.Reconciliado === 0, 'text-green': income.Reconciliado === 1 }">
            {{ income.FechaConciliacion }}
          </td>
          <!-- Mostrar Reconciliado con texto y color condicionales -->
          <td [ngClass]="{ 'text-red': income.Reconciliado === 0, 'text-green': income.Reconciliado === 1 }">
            {{ income.Reconciliado === 0 ? 'No reconciliado' : 'Reconciliado' }}
          </td>
          <!-- Mostrar TipoIngreso.data con texto condicional -->
          <td>
            {{ income.TipoIngreso.data.includes(0) ? 'Ingreso' : 'Egreso' }}
          </td>
          <td>{{ income.ReconciliacionID }}</td>
          <td>{{ income.ObservacionesDifConciliacion }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ion-footer class="margin_footer">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</ion-button>
        <ion-button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</ion-button>
      </ion-buttons>
      <div class="page-info">
        Página {{ currentPage }} de {{ totalPages }}
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
