<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ingresos / Egresos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Search Interface -->
  <div class="search-container">
    <ion-item>
      <ion-label>Buscar por:</ion-label>
      <ion-select [(ngModel)]="selectedFields" multiple="true" placeholder="Seleccionar campo">
        <ion-select-option *ngFor="let field of searchFields" [value]="field.value">{{ field.label }}</ion-select-option>
      </ion-select>
    </ion-item>

    <div *ngFor="let field of selectedFields">
      <ion-item *ngIf="!isDateField(field)">
        <ion-label style="margin-right: 1rem;">{{ getFieldLabel(field) }}:</ion-label>
        <ion-input [(ngModel)]="searchValues[field]"></ion-input>
      </ion-item>

      <div *ngIf="isDateField(field)">
        <ion-item>
          <ion-label>{{ getFieldLabel(field) }} Desde:</ion-label>
          <input type="date" [value]="getStartDate(field)" (change)="onStartDateChange($event, field)">
        </ion-item>
        <ion-item>
          <ion-label>{{ getFieldLabel(field) }} Hasta:</ion-label>
          <input type="date" [value]="getEndDate(field)" (change)="onEndDateChange($event, field)">
        </ion-item>
      </div>

    </div>

    <div style="display: flex; flex-wrap: wrap; align-items: center; gap: 1rem; margin-top: 1rem;">

      <ion-button (click)="applySearch()">Buscar</ion-button>

      <ion-button color="light" (click)="resetSearch()">Reset</ion-button>


      <ion-button style="margin-left: 1.5rem;" color="warning"
        [disabled]="selectedIncomes.length === 0"
        (click)="openAssignAccountsModal()">Asignar Cuentas
      </ion-button>

      <ion-button [disabled]="selectedIncomes.length === 0" style="margin-left: 1rem;" (click)="exportEgresos()">Exportar</ion-button>


      <!-- <input
        type="file"
        accept=".xlsx, .xls"
        (change)="onFileChange($event)"
        style="display: none"
        id="fileInput"
      />
      <ion-button style="margin-left: 1rem;" color="danger" (click)="triggerFileInput()">Importar Ingresos</ion-button>


      <input
      type="file"
      accept=".xlsx, .xls"
      (change)="onFileChangeEgresos($event)"
      style="display: none"
      id="fileInputEgresos"
      />
      <ion-button style="margin-left: 1rem;" color="success" (click)="triggerFileInputEgresos()">Importar Egresos</ion-button> -->

      <div style="display: flex; align-items: center; gap: 1rem;">
        <input
          type="date"
          [(ngModel)]="selectedDate"
          (change)="onDateChange()"
          style="padding: 0.5rem;"
        />
        <ion-button (click)="toggleSortOrder()" color="primary">
          {{ sortOrder === 'DESC' ? 'DESC' : 'ASC' }}
        </ion-button>
      </div>


      <div class="button-select-group">
        <span>Rango:</span>
        <select class="custom-select" [(ngModel)]="periodoFiltro" (change)="onPeriodoFiltroChange()">
          <option *ngFor="let periodo of periodosDisponibles" [value]="periodo.valor">
            {{ periodo.label }}
          </option>
        </select>
      </div>

    </div>


    <div style="margin-top: 1rem;" class="button-group">
      <button (click)="setFilter('all')" [disabled]="filtroSeleccionado === 'all'">Todos</button>
      <button (click)="setFilter('ingresos')" [disabled]="filtroSeleccionado === 'ingresos'">Ingresos</button>

      <div class="button-select-group">
        <button style="margin-right: 0;" (click)="setFilter('ingresosSinCuenta')" [disabled]="filtroSeleccionado === 'ingresosSinCuenta'">Ingresos sin cuenta</button>
        <select 
          class="subfilter-select" 
          [(ngModel)]="segmentoSeleccionado"
          (change)="onSegmentoChange($event)" 
          [disabled]="filtroSeleccionado !== 'ingresosSinCuenta'">
          <option value="todos">Todos</option>
          <option value="cobranza">Cobranza</option>
          <option value="funeraria">Funeraria</option>
          <option value="ventas">Ventas</option>
        </select>
      </div>

      <div class="button-select-group">
        <button style="margin-right: 0;" (click)="setFilter('ingresosConCuenta')" [disabled]="filtroSeleccionado === 'ingresosConCuenta'">Ingresos con cuenta</button>
        <select 
          class="subfilter-select" 
          [(ngModel)]="segmentoSeleccionado"
          (change)="onSegmentoChange($event)" 
          [disabled]="filtroSeleccionado !== 'ingresosConCuenta'">
          <option value="todos">Todos</option>
          <option value="cobranza">Cobranza</option>
          <option value="funeraria">Funeraria</option>
          <option value="ventas">Ventas</option>
        </select>
      </div>

      <div class="button-select-group">
        <button style="margin-right: 0;" (click)="setFilter('egresos')" [disabled]="filtroSeleccionado === 'egresos'">Egresos</button>
        <select
          class="subfilter-select"
          [(ngModel)]="comprobanteSeleccionado"
          (change)="onComprobanteChange($event)"
          [disabled]="filtroSeleccionado !== 'egresos'">
          <option value="todos">Todos</option>
          <option value="con">Comprobante</option>
          <option value="sin">Vacios</option>
        </select>
      </div>

      <button (click)="setFilter('cuentaContable')" [disabled]="filtroSeleccionado === 'cuentaContable'">Cuenta contable</button>
      <button (click)="setFilter('sinCuentaContable')" [disabled]="filtroSeleccionado === 'sinCuentaContable'">Sin cuenta contable</button>
      <button (click)="setFilter('reconciliados')" [disabled]="filtroSeleccionado === 'reconciliados'">Reconciliados</button>
    </div>

  </div>

  <div class="table-container">
    <table class="table mi-tabla">
      <thead class="header-row">
        <tr class="color_header_tabla">
          <th>
            <input type="checkbox" [checked]="masterCheckbox" (change)="toggleSelectAll($event)" />
          </th>
          <th>ID</th>
          <th *ngIf="isAdmin">Cuenta</th>
          <th *ngIf="isAdmin">Combinacion</th>
          <th (click)="sortTable('Fecha')">
            Fecha
            <span *ngIf="sortField === 'Fecha'">
              {{ sortDirection === 'asc' ? '▲' : '▼' }}
            </span>
          </th>
          <th (click)="sortTable('NombreSegmento')">
            Segmento
            <span *ngIf="sortField === 'NombreSegmento'">
              {{ sortDirection === 'asc' ? '▲' : '▼' }}
            </span>
          </th>
          <th (click)="sortTable('NombreCategoria')">
            Categoria
            <span *ngIf="sortField === 'NombreCategoria'">
              {{ sortDirection === 'asc' ? '▲' : '▼' }}
            </span>
          </th>
          <th *ngIf="!mostrarIngresos" (click)="sortTable('NombreSubcategoria')">
            Subcategoria
            <span *ngIf="sortField === 'NombreSubcategoria'">
              {{ sortDirection === 'asc' ? '▲' : '▼' }}
            </span>
          </th>
          <th *ngIf="selectedColumns.includes('Concepto')" (click)="sortTable('NombreConcepto')">
            Concepto
            <span *ngIf="sortField === 'NombreConcepto'">
              {{ sortDirection === 'asc' ? '▲' : '▼' }}
            </span>
          </th>
          <th (click)="sortTable('CuentaContable')">
            Cuenta Contable
            <span *ngIf="sortField === 'CuentaContable'">
              {{ sortDirection === 'asc' ? '▲' : '▼' }}
            </span>
          </th>
          <th></th>
          <th (click)="sortTable('Descripcion')">
            Descripción
            <span *ngIf="sortField === 'Descripcion'">
              {{ sortDirection === 'asc' ? '▲' : '▼' }}
            </span>
          </th>
          <th *ngIf="!mostrarIngresos">Proveedor</th>
          <th *ngIf="!mostrarIngresos">Estatus Proveedor</th>
          <th *ngIf="!mostrarIngresos">Piezas</th>
          <th>Tipo de cuenta</th>
          <th (click)="sortTable('NombreCuenta')">
            Cuenta
            <span *ngIf="sortField === 'NombreCuenta'">
              {{ sortDirection === 'asc' ? '▲' : '▼' }}
            </span>
          </th>
          <th>RFC</th>
          <th>Monto</th>
          <th>Monto Parcial</th>
          <th>Saldo</th>
          <th *ngIf="!mostrarIngresos">Comprobante</th>
          <th *ngIf="!mostrarIngresos"></th>
          <th *ngIf="!mostrarIngresos">Estatus</th>
          <th>Fecha Autorizacion</th>
          <!-- <th>Usuario Autoriza</th>
          <th>Usuario Recibe</th> -->
          <th>Fecha Conciliacion</th>
          <th>Reconciliado</th>
          <th>Ingreso / Egreso</th>
          <th>Reconciliacion ID</th>
          <th></th>
          <th>Observaciones</th>
        </tr>
      </thead>


      <tbody>

        <tr *ngFor="let income of paginatedIncomes"
          [ngClass]="{
            'yellow-background': !income.NombreCuenta && income.Reconciliado === 0,
            'aquamarine-background': income.NombreCuenta && income.Reconciliado === 0,
            'green-text': income['CuentaContable'] !== null && income['CuentaContable'] !== undefined && income['SegmentoID'] && income['CategoriaID'] && income['SubcategoriaID'] && income['ConceptoID'] && income['CuentaID'] && income['CuentaContable'] !== 0,
            'red-text': income['CuentaContable'] !== null && income['CuentaContable'] !== undefined && (!income['SegmentoID'] || !income['CategoriaID'] || !income['SubcategoriaID'] || !income['ConceptoID'] || !income['CuentaID'] || income['CuentaContable'] === 0)
          }"
          class="data-row">

          <td>
            <input type="checkbox" [(ngModel)]="income['selected']" (change)="onSelectIncome(income)" />
          </td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null">{{ income.IngresoID }}</td>
          <td *ngIf="isAdmin">
            <ion-icon
              style="color: green; cursor: pointer;"
              name="key-sharp"
              (click)="asignarCuenta(income.IngresoID)"
              aria-label="Asignar Cuenta">
            </ion-icon>
          </td>
          <td *ngIf="isAdmin">
            <ion-icon
              name="git-compare"
              (click)="editarCombinacion(income.IngresoID)"
              [style.cursor]="'pointer'"
              [style.color]="'blue'"
              aria-label="Editar">
            </ion-icon>
          </td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null">{{ income.Fecha }}</td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null">{{ income.NombreSegmento }}</td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null">{{ income.NombreCategoria }}</td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null" *ngIf="!mostrarIngresos && selectedColumns.includes('CuentaContable')">{{ income.NombreSubcategoria }}</td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null">{{ income.NombreConcepto }}</td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null">{{ income.CuentaContable }}</td>
          <td>
            <ion-button fill="clear" size="small" (click)="abrirModalDescripcion(income)">
              <ion-icon name="create-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null">{{ income.Descripcion }}</td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null" *ngIf="!mostrarIngresos">{{ income.Proveedor }}</td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null" *ngIf="!mostrarIngresos">
            <ng-container *ngIf="income.ProveedorEstatus">
              <span [ngClass]="(income.ProveedorEstatus.data && income.ProveedorEstatus.data.length > 0) ?
                               (income.ProveedorEstatus.data[0] === 0 ? 'text-red' :
                                income.ProveedorEstatus.data[0] === 1 ? 'text-green' : '') : ''">
                {{ (income.ProveedorEstatus.data && income.ProveedorEstatus.data.length > 0) ?
                   (income.ProveedorEstatus.data[0] === 0 ? 'Proveedor no autorizado' :
                    income.ProveedorEstatus.data[0] === 1 ? 'Proveedor autorizado' : '') : '' }}
              </span>
            </ng-container>
          </td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null" *ngIf="!mostrarIngresos">{{ income.Piezas }}</td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null" [ngClass]="{'green-text': true}">
            {{ income.TipoCuenta}}
          </td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null">{{ income.NombreCuenta }}</td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null">{{ income.RFC }}</td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null">{{ income.Monto }}</td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null">
            {{ income.MontoParcialBandera === 0 ? 'N/A' : income.MontoParcial }}
          </td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null">
            {{
              income.Reconciliado === 0 || !income.SaldoReconciliacion
                ? income.Saldo
                : income.SaldoReconciliacion
            }}
          </td>
          <td *ngIf="!mostrarIngresos">
            <ion-icon
              *ngIf="!income.TipoIngreso.data.includes(0)"
              [name]="income.Comprobante ? 'cloud-download-outline' : 'cloud-upload-outline'"
              [color]="income.Comprobante ? 'warning' : 'primary'"
              [style.font-size]="'20px'"
              (click)="handleButtonClick(income.Comprobante, income.IngresoID)"
              style="cursor: pointer;">
            </ion-icon>
          </td>
          <td *ngIf="!mostrarIngresos">
            <ion-icon
              name="trash-outline"
              [color]="income.Comprobante ? 'danger' : 'medium'"
              [style.font-size]="'20px'"
              [style.cursor]="income.Comprobante ? 'pointer' : 'default'"
              (click)="income.Comprobante ? confirmDeleteComprobante(income.IngresoID) : null">
            </ion-icon>
          </td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null" *ngIf="!mostrarIngresos">{{ income.NombreEstatus }}</td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null">
            {{ income.FechaAutorizacion !== '1970-01-01' ? income.FechaAutorizacion : '' }}
          </td>
          <!-- <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null">{{ income.NombreUsuarioAutoriza }}</td> -->
          <!-- <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null">{{ income.NombreUsuarioRecibe }}</td> -->
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null" 
              [ngClass]="{ 'text-red': income.Reconciliado === 0, 'text-green': income.Reconciliado === 1 }">
            {{ income.FechaConciliacion !== '1970-01-01' ? income.FechaConciliacion : '' }}
          </td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null" [ngClass]="{ 'text-red': income.Reconciliado === 0, 'text-green': income.Reconciliado === 1 }">
            {{ income.Reconciliado === 0 ? 'No reconciliado' : 'Reconciliado' }}
          </td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null">
            {{ income.TipoIngreso.data.includes(0) ? 'Ingreso' : 'Egreso' }}
          </td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null">{{ income.ReconciliacionID }}</td>
          <td>
            <ion-button fill="clear" size="small" (click)="abrirModalObservacion(income)">
              <ion-icon name="create-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </td>
          <td (click)="income.CuentaContable !== null ? asignarCuentaContable(income.IngresoID) : null">{{ income.ObservacionesDifConciliacion }}</td>
        </tr>
      </tbody>
    </table>
  </div>


  <ion-footer style="margin-bottom: 4rem; margin-top: 0.5rem;" class="margin_footer">
    <ion-toolbar>
  
      <!-- Botones de paginación -->
      <ion-buttons slot="start">
        <ion-button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</ion-button>
        <ion-button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</ion-button>
      </ion-buttons>
  
      <!-- Info de la página -->
      <div class="page-info">
        Página {{ currentPage }} de {{ totalPages }} (Faltan {{ pagesRemaining }} páginas)
      </div>
  
      <!-- Selector de registros por página -->
      <ion-select interface="popover" slot="end" style="margin-right: 1rem;" placeholder="Registros por página" [(ngModel)]="itemsPerPage" (ionChange)="onItemsPerPageChange()">
        <ion-select-option *ngFor="let option of itemsPerPageOptions" [value]="option">
          {{ option }}
        </ion-select-option>
      </ion-select>
  
      <!-- Control de zoom alineado horizontalmente -->
      <div class="zoom-control" slot="end">
        <div class="zoom-inline">
          <span>Zoom</span>
          <ion-range style="padding-top: 0rem;  margin-right: 1rem;" min="6" max="20" step="1" pin="true" [(ngModel)]="fontSize" (ionChange)="updateFontSize()"></ion-range>
        </div>
      </div>
  
    </ion-toolbar>
  </ion-footer>
  


</ion-content>


      <!-- Barra de carga con barra de progreso -->
      <div style="margin-top: 25%;" *ngIf="isLoading" class="loading-bar">
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
        <p>Cargando registros, por favor espere...</p>
      </div>
